In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn import linear_model

In [2]:
train_df = pd.read_csv('C:\\VSC\\LG_Aimers\\train_2.csv')
test_df = pd.read_csv('C:\\VSC\\LG_Aimers\\test_2.csv')

train_df = train_df.set_index("TIMESTAMP")
test_df = test_df.set_index("TIMESTAMP")

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

Xns_COUNT = Xns.iloc[:, 0:1]
a = Xns_COUNT.COUNT.unique()

Xns_COUNT_lists = [
    0, 6, 10, 23, 33, 39, 42, 52, 59, 62, 
    70, 78, 87, 94, 99, 100, 104, 110, 118, 119, 
    120, 129, 174, 175, 233, 247, 248, 249, 348, 349
]

for Xns_COUNT_list in Xns_COUNT_lists:
    a = Xns_COUNT.loc[Xns_COUNT.COUNT == Xns_COUNT_list].index
    globals()["Xns_COUNT_{}".format(Xns_COUNT_list)] = a

pd.DataFrame(train_df.iloc[:, 6:106].mean())

train_df.head()

train_Xn_df_NULL = pd.DataFrame({"COUNT" : train_df.iloc[:, 5:2881].count()})
a = train_Xn_df_NULL.loc[train_Xn_df_NULL.COUNT == 0]
print(a.index)
print(a.shape[0])

In [3]:
a = train_df.loc[train_df.Y_Class == 0]
b = train_df.loc[train_df.Y_Class == 1]
c = train_df.loc[train_df.Y_Class == 2]

C_0 = a
C_1 = b
C_2 = c

In [4]:
a = C_0.CODE_LINE.unique()
b = C_1.CODE_LINE.unique()
c = C_2.CODE_LINE.unique()

print("-- C_0 CODE_LINE --\n{}\n\n-- C_1 CODE_LINE --\n{}\n\n-- C_2 CODE_LINE --\n{}".format(a, b, c))

-- C_0 CODE_LINE --
['T100304' 'A010305' 'A050304' 'A010306' 'T100306' 'A050307']

-- C_1 CODE_LINE --
['A050304' 'T100304' 'T100306' 'A010305' 'A050307' 'A010306' 'O100304'
 'O100306']

-- C_2 CODE_LINE --
['A050307' 'A050304' 'A010306' 'A010305' 'T100304' 'T100306' 'O100306']

# **0, 1, 2 : 겹치는 CODE_LINE**

- A050304

- T100304

- A010305

- A010306

- T100306

- A050307

## A050304 : C_0
- 최대 카운트 30

- 카운트 0 : 907개 열
- 카운트 9 : 420개 열
- 카운트 1 : 60개 열
- 카운트 6 : 11개 열
- 카운트 2 : 5개 열

In [5]:
C_0_A050304 = C_0.loc[C_0.CODE_LINE == "A050304"]
C_0_A050304 = C_0_A050304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_0_A050304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-21 17:36:00,0.521524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.03,52.24,55.33,57.49,67.31,1.0,NaN,NaN,NaN,NaN
2022-07-06 19:15:00,0.516711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.86,50.46,40.49,57.34,66.37,1.0,NaN,NaN,NaN,NaN
2022-07-06 19:23:00,0.519451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.28,51.25,55.43,56.95,67.44,1.0,NaN,NaN,NaN,NaN
2022-07-06 20:41:00,0.518960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2022-07-10 00:57:00,0.519810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.97,59.15,42.29,57.22,65.46,1.0,NaN,NaN,NaN,NaN

In [6]:
C_0_A050304_des = pd.DataFrame({
    "COUNT" : C_0_A050304.count(),
    "MEAN" : C_0_A050304.mean(),
    "STD" : C_0_A050304.std(),
    "MIN" : C_0_A050304.min(),
    "Q1" : C_0_A050304.quantile(0.25),
    "Q2" : C_0_A050304.quantile(0.5),
    "Q3" : C_0_A050304.quantile(0.75),
    "MAX" : C_0_A050304.max()
})

C_0_A050304_des.COUNT.value_counts()

0     907
30    905
9     420
28    395
29    145
1      60
24     26
6      11
2       5
23      1
27      1
Name: COUNT, dtype: int64

- 최대 카운트 30개 중에서 20개 이상인 각 X 변수에 각 평균으로 대체

In [7]:
C_0_A050304_des.loc[(C_0_A050304_des.COUNT >= 20) & (C_0_A050304_des.COUNT < 30)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_938,28,2.007500,1.719607,0.310000,0.582500,0.750000,3.447500,4.970000
X_939,28,1.915692,1.718009,0.286129,0.498065,0.640161,3.355806,4.904194
X_940,28,1.810357,1.694139,0.270000,0.387500,0.565000,3.260000,4.810000
X_941,28,75.867857,0.525677,75.200000,75.575000,75.700000,76.025000,77.400000
X_942,28,75.646378,0.505688,75.022581,75.305645,75.524194,75.916935,77.138710
...,...,...,...,...,...,...,...,...
X_2866,24,53.068750,3.249586,47.190000,50.607500,54.115000,55.035000,60.240000
X_2867,24,55.684167,4.019735,47.840000,52.610000,54.710000,59.307500,62.370000
X_2868,24,49.493333,6.708437,36.810000,41.985000,52.510000,54.532500,59.680000
X_2869,24,55.706667,2.500817,49.390000,55.292500,56.300000,57.092500,59.930000
X_2870,24,65.040000,1.576038,62.610000,63.622500,65.035000,66.490000,67.440000

In [8]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_0_A050304_20_30.txt', 'w', encoding='UTF-8') as f:
    for name in C_0_A050304_des.loc[(C_0_A050304_des.COUNT >= 20) & (C_0_A050304_des.COUNT < 30)].index:
        f.write(name+'\n')

In [9]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_0_A050304_20_30.txt','r')
C_0_A050304_20_30 = f.read()
f.close()
C_0_A050304_20_30

'X_938\nX_939\nX_940\nX_941\nX_942\nX_943\nX_944\nX_945\nX_946\nX_947\nX_948\nX_949\nX_950\nX_951\nX_952\nX_953\nX_954\nX_957\nX_958\nX_959\nX_960\nX_961\nX_962\nX_963\nX_964\nX_965\nX_966\nX_967\nX_968\nX_969\nX_970\nX_971\nX_972\nX_973\nX_974\nX_975\nX_976\nX_977\nX_978\nX_979\nX_980\nX_981\nX_982\nX_983\nX_984\nX_985\nX_986\nX_987\nX_988\nX_989\nX_990\nX_991\nX_992\nX_993\nX_994\nX_995\nX_996\nX_997\nX_998\nX_999\nX_1000\nX_1001\nX_1006\nX_1007\nX_1008\nX_1009\nX_1010\nX_1011\nX_1012\nX_1013\nX_1014\nX_1015\nX_1016\nX_1017\nX_1018\nX_1019\nX_1020\nX_1021\nX_1022\nX_1023\nX_1024\nX_1025\nX_1026\nX_1027\nX_1028\nX_1029\nX_1030\nX_1031\nX_1032\nX_1033\nX_1034\nX_1035\nX_1036\nX_1037\nX_1038\nX_1039\nX_1040\nX_1041\nX_1042\nX_1043\nX_1044\nX_1045\nX_1046\nX_1047\nX_1048\nX_1049\nX_1050\nX_1051\nX_1052\nX_1053\nX_1054\nX_1055\nX_1056\nX_1057\nX_1058\nX_1059\nX_1060\nX_1061\nX_1062\nX_1063\nX_1064\nX_1065\nX_1066\nX_1067\nX_1068\nX_1069\nX_1070\nX_1071\nX_1072\nX_1073\nX_1074\nX_1075\nX_1076\nX_1158\nX_1159\nX_1160\nX_1161\nX_1162\nX_1163\nX_1164\nX_1165\nX_1166\nX_1172\nX_1173\nX_1174\nX_1175\nX_1176\nX_1177\nX_1178\nX_1179\nX_1180\nX_1181\nX_1182\nX_1183\nX_1184\nX_1185\nX_1186\nX_1187\nX_1188\nX_1189\nX_1190\nX_1191\nX_1192\nX_1228\nX_1229\nX_1230\nX_1231\nX_1232\nX_1233\nX_1234\nX_1235\nX_1236\nX_1237\nX_1238\nX_1239\nX_1240\nX_1241\nX_1242\nX_1243\nX_1244\nX_1245\nX_1246\nX_1247\nX_1248\nX_1249\nX_1250\nX_1251\nX_1252\nX_1253\nX_1254\nX_1255\nX_1256\nX_1257\nX_1258\nX_1259\nX_1260\nX_1261\nX_1262\nX_1263\nX_1264\nX_1265\nX_1266\nX_1267\nX_1268\nX_1269\nX_1270\nX_1271\nX_1272\nX_1273\nX_1279\nX_1280\nX_1281\nX_1282\nX_1283\nX_1284\nX_1285\nX_1286\nX_1287\nX_1288\nX_1289\nX_1290\nX_1291\nX_1292\nX_1293\nX_1294\nX_1295\nX_1296\nX_1297\nX_1298\nX_1299\nX_1300\nX_1301\nX_1302\nX_1303\nX_1304\nX_1305\nX_1306\nX_1307\nX_1308\nX_1309\nX_1310\nX_1311\nX_1312\nX_1313\nX_1314\nX_1315\nX_1316\nX_1317\nX_1318\nX_1319\nX_1320\nX_1336\nX_1337\nX_1338\nX_1339\nX_1340\nX_1341\nX_1342\nX_1343\nX_1344\nX_1345\nX_1346\nX_1347\nX_1348\nX_1349\nX_1350\nX_1351\nX_1352\nX_1353\nX_1354\nX_1355\nX_1356\nX_1357\nX_1358\nX_1359\nX_1360\nX_1361\nX_1362\nX_1363\nX_1364\nX_1365\nX_1367\nX_1368\nX_1369\nX_1370\nX_1371\nX_1372\nX_1373\nX_1374\nX_1375\nX_1376\nX_1377\nX_1378\nX_1379\nX_1380\nX_1381\nX_1382\nX_1383\nX_1384\nX_1385\nX_1386\nX_1387\nX_1388\nX_1389\nX_1390\nX_1391\nX_1392\nX_1393\nX_1394\nX_1395\nX_1396\nX_1397\nX_1398\nX_1399\nX_1400\nX_1401\nX_1402\nX_1403\nX_1404\nX_1408\nX_1409\nX_1410\nX_1411\nX_1412\nX_1413\nX_1414\nX_1415\nX_1416\nX_1417\nX_1418\nX_1419\nX_1420\nX_1421\nX_1422\nX_1423\nX_1424\nX_1425\nX_1426\nX_1427\nX_1428\nX_1429\nX_1430\nX_1433\nX_1434\nX_1435\nX_1436\nX_1437\nX_1438\nX_1439\nX_1440\nX_1441\nX_1442\nX_1443\nX_1444\nX_1445\nX_1446\nX_1447\nX_1448\nX_1449\nX_1450\nX_1451\nX_1452\nX_1453\nX_1454\nX_1455\nX_1456\nX_1457\nX_1458\nX_1459\nX_1460\nX_1461\nX_1462\nX_1463\nX_1464\nX_1465\nX_1466\nX_1467\nX_1468\nX_1469\nX_1470\nX_1471\nX_1472\nX_1532\nX_1533\nX_1534\nX_1535\nX_1536\nX_1537\nX_1556\nX_1557\nX_1558\nX_1559\nX_1560\nX_1561\nX_1562\nX_1563\nX_1564\nX_1565\nX_1566\nX_1567\nX_1568\nX_1569\nX_1570\nX_1571\nX_1572\nX_1573\nX_1574\nX_1575\nX_1576\nX_1577\nX_1578\nX_1579\nX_1580\nX_1581\nX_1582\nX_1583\nX_1584\nX_1585\nX_1586\nX_1587\nX_1588\nX_1589\nX_1590\nX_1591\nX_1592\nX_1593\nX_1594\nX_1595\nX_1596\nX_1597\nX_1598\nX_1599\nX_1600\nX_1601\nX_1602\nX_1603\nX_1604\nX_1605\nX_1606\nX_1607\nX_1608\nX_1609\nX_1610\nX_1611\nX_1612\nX_1613\nX_1614\nX_1615\nX_1616\nX_1617\nX_1618\nX_1619\nX_1620\nX_1621\nX_1622\nX_1623\nX_1624\nX_1625\nX_1626\nX_1627\nX_1628\nX_1629\nX_1630\nX_1631\nX_1632\nX_1633\nX_1634\nX_1635\nX_1636\nX_1637\nX_1638\nX_1639\nX_1640\nX_1641\nX_1642\nX_1643\nX_1644\nX_1645\nX_1646\nX_1647\nX_1648\nX_1649\nX_1650\nX_1651\nX_1652\nX_1653\nX_1654\nX_1655\nX_1656\nX_1657\nX_1658\nX_1659\nX_1660\nX_1661\nX_1662\nX_1663\nX_1664\nX_1665\nX_1666\nX_1667\nX_1668\nX_1669\nX_1670\nX_1671\nX_1672\nX_1673\nX_1674\nX_1675\nX_1676\nX_1677\nX_1678\nX_1679\nX_1680\nX_1681\nX_1682\nX_1683\nX_1684\nX_1685\nX_1686\nX_1687\nX_1688\nX_1689\nX_1690\nX_1691\nX_1692\nX_1693\nX_1694\nX_1695\nX_1696\nX_1697\nX_1698\nX_1699\nX_1700\nX_1951\nX_1952\nX_1953\nX_1954\nX_1955\nX_1956\nX_1957\nX_1958\nX_1959\nX_1960\nX_1961\nX_1962\nX_1963\nX_1964\nX_1965\nX_1966\nX_1967\nX_1968\nX_2041\nX_2042\nX_2043\nX_2044\nX_2045\nX_2056\nX_2057\nX_2058\nX_2059\nX_2060\nX_2061\nX_2062\nX_2866\nX_2867\nX_2868\nX_2869\nX_2870\n'

In [10]:
cols = ['X_938','X_939','X_940','X_941','X_942','X_943','X_944','X_945','X_946','X_947','X_948','X_949','X_950','X_951','X_952','X_953','X_954','X_957','X_958','X_959','X_960','X_961','X_962','X_963','X_964','X_965','X_966','X_967','X_968','X_969','X_970','X_971','X_972','X_973','X_974','X_975','X_976','X_977','X_978','X_979','X_980','X_981','X_982','X_983','X_984','X_985','X_986','X_987','X_988','X_989','X_990','X_991','X_992','X_993','X_994','X_995','X_996','X_997','X_998','X_999','X_1000','X_1001','X_1006','X_1007','X_1008','X_1009','X_1010','X_1011','X_1012','X_1013','X_1014','X_1015','X_1016','X_1017','X_1018','X_1019','X_1020','X_1021','X_1022','X_1023','X_1024','X_1025','X_1026','X_1027','X_1028','X_1029','X_1030','X_1031','X_1032','X_1033','X_1034','X_1035','X_1036','X_1037','X_1038','X_1039','X_1040','X_1041','X_1042','X_1043','X_1044','X_1045','X_1046','X_1047','X_1048','X_1049','X_1050','X_1051','X_1052','X_1053','X_1054','X_1055','X_1056','X_1057','X_1058','X_1059','X_1060','X_1061','X_1062','X_1063','X_1064','X_1065','X_1066','X_1067','X_1068','X_1069','X_1070','X_1071','X_1072','X_1073','X_1074','X_1075','X_1076','X_1158','X_1159','X_1160','X_1161','X_1162','X_1163','X_1164','X_1165','X_1166','X_1172','X_1173','X_1174','X_1175','X_1176','X_1177','X_1178','X_1179','X_1180','X_1181','X_1182','X_1183','X_1184','X_1185','X_1186','X_1187','X_1188','X_1189','X_1190','X_1191','X_1192','X_1228','X_1229','X_1230','X_1231','X_1232','X_1233','X_1234','X_1235','X_1236','X_1237','X_1238','X_1239','X_1240','X_1241','X_1242','X_1243','X_1244','X_1245','X_1246','X_1247','X_1248','X_1249','X_1250','X_1251','X_1252','X_1253','X_1254','X_1255','X_1256','X_1257','X_1258','X_1259','X_1260','X_1261','X_1262','X_1263','X_1264','X_1265','X_1266','X_1267','X_1268','X_1269','X_1270','X_1271','X_1272','X_1273','X_1279','X_1280','X_1281','X_1282','X_1283','X_1284','X_1285','X_1286','X_1287','X_1288','X_1289','X_1290','X_1291','X_1292','X_1293','X_1294','X_1295','X_1296','X_1297','X_1298','X_1299','X_1300','X_1301','X_1302','X_1303','X_1304','X_1305','X_1306','X_1307','X_1308','X_1309','X_1310','X_1311','X_1312','X_1313','X_1314','X_1315','X_1316','X_1317','X_1318','X_1319','X_1320','X_1336','X_1337','X_1338','X_1339','X_1340','X_1341','X_1342','X_1343','X_1344','X_1345','X_1346','X_1347','X_1348','X_1349','X_1350','X_1351','X_1352','X_1353','X_1354','X_1355','X_1356','X_1357','X_1358','X_1359','X_1360','X_1361','X_1362','X_1363','X_1364','X_1365','X_1367','X_1368','X_1369','X_1370','X_1371','X_1372','X_1373','X_1374','X_1375','X_1376','X_1377','X_1378','X_1379','X_1380','X_1381','X_1382','X_1383','X_1384','X_1385','X_1386','X_1387','X_1388','X_1389','X_1390','X_1391','X_1392','X_1393','X_1394','X_1395','X_1396','X_1397','X_1398','X_1399','X_1400','X_1401','X_1402','X_1403','X_1404','X_1408','X_1409','X_1410','X_1411','X_1412','X_1413','X_1414','X_1415','X_1416','X_1417','X_1418','X_1419','X_1420','X_1421','X_1422','X_1423','X_1424','X_1425','X_1426','X_1427','X_1428','X_1429','X_1430','X_1433','X_1434','X_1435','X_1436','X_1437','X_1438','X_1439','X_1440','X_1441','X_1442','X_1443','X_1444','X_1445','X_1446','X_1447','X_1448','X_1449','X_1450','X_1451','X_1452','X_1453','X_1454','X_1455','X_1456','X_1457','X_1458','X_1459','X_1460','X_1461','X_1462','X_1463','X_1464','X_1465','X_1466','X_1467','X_1468','X_1469','X_1470','X_1471','X_1472','X_1532','X_1533','X_1534','X_1535','X_1536','X_1537','X_1556','X_1557','X_1558','X_1559','X_1560','X_1561','X_1562','X_1563','X_1564','X_1565','X_1566','X_1567','X_1568','X_1569','X_1570','X_1571','X_1572','X_1573','X_1574','X_1575','X_1576','X_1577','X_1578','X_1579','X_1580','X_1581','X_1582','X_1583','X_1584','X_1585','X_1586','X_1587','X_1588','X_1589','X_1590','X_1591','X_1592','X_1593','X_1594','X_1595','X_1596','X_1597','X_1598','X_1599','X_1600','X_1601','X_1602','X_1603','X_1604','X_1605','X_1606','X_1607','X_1608','X_1609','X_1610','X_1611','X_1612','X_1613','X_1614','X_1615','X_1616','X_1617','X_1618','X_1619','X_1620','X_1621','X_1622','X_1623','X_1624','X_1625','X_1626','X_1627','X_1628','X_1629','X_1630','X_1631','X_1632','X_1633','X_1634','X_1635','X_1636','X_1637','X_1638','X_1639','X_1640','X_1641','X_1642','X_1643','X_1644','X_1645','X_1646','X_1647','X_1648','X_1649','X_1650','X_1651','X_1652','X_1653','X_1654','X_1655','X_1656','X_1657','X_1658','X_1659','X_1660','X_1661','X_1662','X_1663','X_1664','X_1665','X_1666','X_1667','X_1668','X_1669','X_1670','X_1671','X_1672','X_1673','X_1674','X_1675','X_1676','X_1677','X_1678','X_1679','X_1680','X_1681','X_1682','X_1683','X_1684','X_1685','X_1686','X_1687','X_1688','X_1689','X_1690','X_1691','X_1692','X_1693','X_1694','X_1695','X_1696','X_1697','X_1698','X_1699','X_1700','X_1951','X_1952','X_1953','X_1954','X_1955','X_1956','X_1957','X_1958','X_1959','X_1960','X_1961','X_1962','X_1963','X_1964','X_1965','X_1966','X_1967','X_1968','X_2041','X_2042','X_2043','X_2044','X_2045','X_2056','X_2057','X_2058','X_2059','X_2060','X_2061','X_2062','X_2866','X_2867','X_2868','X_2869','X_2870']

In [11]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050304")] = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050304")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050304")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050304")].count()
    print("{} ... {}".format(col, a))

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\2660621313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050304")] = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050304")].fillna(

X_938 ... 30
X_939 ... 30
X_940 ... 30
X_941 ... 30
X_942 ... 30
X_943 ... 30
X_944 ... 30
X_945 ... 30
X_946 ... 30
X_947 ... 30
X_948 ... 30
X_949 ... 30
X_950 ... 30
X_951 ... 30
X_952 ... 30
X_953 ... 30
X_954 ... 30
X_957 ... 30
X_958 ... 30
X_959 ... 30
X_960 ... 30
X_961 ... 30
X_962 ... 30
X_963 ... 30
X_964 ... 30
X_965 ... 30
X_966 ... 30
X_967 ... 30
X_968 ... 30
X_969 ... 30
X_970 ... 30
X_971 ... 30
X_972 ... 30
X_973 ... 30
X_974 ... 30
X_975 ... 30
X_976 ... 30
X_977 ... 30
X_978 ... 30
X_979 ... 30
X_980 ... 30
X_981 ... 30
X_982 ... 30
X_983 ... 30
X_984 ... 30
X_985 ... 30
X_986 ... 30
X_987 ... 30
X_988 ... 30
X_989 ... 30
X_990 ... 30
X_991 ... 30
X_992 ... 30
X_993 ... 30
X_994 ... 30
X_995 ... 30
X_996 ... 30
X_997 ... 30
X_998 ... 30
X_999 ... 30
X_1000 ... 30
X_1001 ... 30
X_1006 ... 30
X_1007 ... 30
X_1008 ... 30
X_1009 ... 30
X_1010 ... 30
X_1011 ... 30
X_1012 ... 30
X_1013 ... 30
X_1014 ... 30
X_1015 ... 30
X_1016 ... 30
X_1017 ... 30
X_1018 ... 30
X_1019 ... 30
X_1020 ... 30
X_1021 ... 30
X_1022 ... 30
X_1023 ... 30
X_1024 ... 30
X_1025 ... 30
X_1026 ... 30
X_1027 ... 30
X_1028 ... 30
X_1029 ... 30
X_1030 ... 30
X_1031 ... 30
X_1032 ... 30
X_1033 ... 30
X_1034 ... 30
X_1035 ... 30
X_1036 ... 30
X_1037 ... 30
X_1038 ... 30
X_1039 ... 30
X_1040 ... 30
X_1041 ... 30
X_1042 ... 30
X_1043 ... 30
X_1044 ... 30
X_1045 ... 30
X_1046 ... 30
X_1047 ... 30
X_1048 ... 30
X_1049 ... 30
X_1050 ... 30
X_1051 ... 30
X_1052 ... 30
X_1053 ... 30
X_1054 ... 30
X_1055 ... 30
X_1056 ... 30
X_1057 ... 30
X_1058 ... 30
X_1059 ... 30
X_1060 ... 30
X_1061 ... 30
X_1062 ... 30
X_1063 ... 30
X_1064 ... 30
X_1065 ... 30
X_1066 ... 30
X_1067 ... 30
X_1068 ... 30
X_1069 ... 30
X_1070 ... 30
X_1071 ... 30
X_1072 ... 30
X_1073 ... 30
X_1074 ... 30
X_1075 ... 30
X_1076 ... 30
X_1158 ... 30
X_1159 ... 30
X_1160 ... 30
X_1161 ... 30
X_1162 ... 30
X_1163 ... 30
X_1164 ... 30
X_1165 ... 30
X_1166 ... 30
X_1172 ... 30
X_1173 ... 30
X_1174 ... 30
X_1175 ... 30
X_1176 ... 30
X_1177 ... 30
X_1178 ... 30
X_1179 ... 30
X_1180 ... 30
X_1181 ... 30
X_1182 ... 30
X_1183 ... 30
X_1184 ... 30
X_1185 ... 30
X_1186 ... 30
X_1187 ... 30
X_1188 ... 30
X_1189 ... 30
X_1190 ... 30
X_1191 ... 30
X_1192 ... 30
X_1228 ... 30
X_1229 ... 30
X_1230 ... 30
X_1231 ... 30
X_1232 ... 30
X_1233 ... 30
X_1234 ... 30
X_1235 ... 30
X_1236 ... 30
X_1237 ... 30
X_1238 ... 30
X_1239 ... 30
X_1240 ... 30
X_1241 ... 30
X_1242 ... 30
X_1243 ... 30
X_1244 ... 30
X_1245 ... 30
X_1246 ... 30
X_1247 ... 30
X_1248 ... 30
X_1249 ... 30
X_1250 ... 30
X_1251 ... 30
X_1252 ... 30
X_1253 ... 30
X_1254 ... 30
X_1255 ... 30
X_1256 ... 30
X_1257 ... 30
X_1258 ... 30
X_1259 ... 30
X_1260 ... 30
X_1261 ... 30
X_1262 ... 30
X_1263 ... 30
X_1264 ... 30
X_1265 ... 30
X_1266 ... 30
X_1267 ... 30
X_1268 ... 30
X_1269 ... 30
X_1270 ... 30
X_1271 ... 30
X_1272 ... 30
X_1273 ... 30
X_1279 ... 30
X_1280 ... 30
X_1281 ... 30
X_1282 ... 30
X_1283 ... 30
X_1284 ... 30
X_1285 ... 30
X_1286 ... 30
X_1287 ... 30
X_1288 ... 30
X_1289 ... 30
X_1290 ... 30
X_1291 ... 30
X_1292 ... 30
X_1293 ... 30
X_1294 ... 30
X_1295 ... 30
X_1296 ... 30
X_1297 ... 30
X_1298 ... 30
X_1299 ... 30
X_1300 ... 30
X_1301 ... 30
X_1302 ... 30
X_1303 ... 30
X_1304 ... 30
X_1305 ... 30
X_1306 ... 30
X_1307 ... 30
X_1308 ... 30
X_1309 ... 30
X_1310 ... 30
X_1311 ... 30
X_1312 ... 30
X_1313 ... 30
X_1314 ... 30
X_1315 ... 30
X_1316 ... 30
X_1317 ... 30
X_1318 ... 30
X_1319 ... 30
X_1320 ... 30
X_1336 ... 30
X_1337 ... 30
X_1338 ... 30
X_1339 ... 30
X_1340 ... 30
X_1341 ... 30
X_1342 ... 30
X_1343 ... 30
X_1344 ... 30
X_1345 ... 30
X_1346 ... 30
X_1347 ... 30
X_1348 ... 30
X_1349 ... 30
X_1350 ... 30
X_1351 ... 30
X_1352 ... 30
X_1353 ... 30
X_1354 ... 30
X_1355 ... 30
X_1356 ... 30
X_1357 ... 30
X_1358 ... 30
X_1359 ... 30
X_1360 ... 30
X_1361 ... 30
X_1362 ... 30
X_1363 ... 30
X_1364 ... 30
X_1365 ... 30
X_1367 ... 30
X_1368 ... 30
X_1369 ... 30
X_1370 ... 30
X_1371 ... 30
X_1372 ... 30
X_1373 ... 30
X_1374 ... 30
X_1375 ... 30
X_1376 ... 30
X_1377 ... 30
X_1378 ... 30
X_1379 ... 30
X_1380 ... 30
X_1381 ... 30
X_1382 ... 30
X_1383 ... 30
X_1384 ... 30
X_1385 ... 30
X_1386 ... 30
X_1387 ... 30
X_1388 ... 30
X_1389 ... 30
X_1390 ... 30
X_1391 ... 30
X_1392 ... 30
X_1393 ... 30
X_1394 ... 30
X_1395 ... 30
X_1396 ... 30
X_1397 ... 30
X_1398 ... 30
X_1399 ... 30
X_1400 ... 30
X_1401 ... 30
X_1402 ... 30
X_1403 ... 30
X_1404 ... 30
X_1408 ... 30
X_1409 ... 30
X_1410 ... 30
X_1411 ... 30
X_1412 ... 30
X_1413 ... 30
X_1414 ... 30
X_1415 ... 30
X_1416 ... 30
X_1417 ... 30
X_1418 ... 30
X_1419 ... 30
X_1420 ... 30
X_1421 ... 30
X_1422 ... 30
X_1423 ... 30
X_1424 ... 30
X_1425 ... 30
X_1426 ... 30
X_1427 ... 30
X_1428 ... 30
X_1429 ... 30
X_1430 ... 30
X_1433 ... 30
X_1434 ... 30
X_1435 ... 30
X_1436 ... 30
X_1437 ... 30
X_1438 ... 30
X_1439 ... 30
X_1440 ... 30
X_1441 ... 30
X_1442 ... 30
X_1443 ... 30
X_1444 ... 30
X_1445 ... 30
X_1446 ... 30
X_1447 ... 30
X_1448 ... 30
X_1449 ... 30
X_1450 ... 30
X_1451 ... 30
X_1452 ... 30
X_1453 ... 30
X_1454 ... 30
X_1455 ... 30
X_1456 ... 30
X_1457 ... 30
X_1458 ... 30
X_1459 ... 30
X_1460 ... 30
X_1461 ... 30
X_1462 ... 30
X_1463 ... 30
X_1464 ... 30
X_1465 ... 30
X_1466 ... 30
X_1467 ... 30
X_1468 ... 30
X_1469 ... 30
X_1470 ... 30
X_1471 ... 30
X_1472 ... 30
X_1532 ... 30
X_1533 ... 30
X_1534 ... 30
X_1535 ... 30
X_1536 ... 30
X_1537 ... 30
X_1556 ... 30
X_1557 ... 30
X_1558 ... 30
X_1559 ... 30
X_1560 ... 30
X_1561 ... 30
X_1562 ... 30
X_1563 ... 30
X_1564 ... 30
X_1565 ... 30
X_1566 ... 30
X_1567 ... 30
X_1568 ... 30
X_1569 ... 30
X_1570 ... 30
X_1571 ... 30
X_1572 ... 30
X_1573 ... 30
X_1574 ... 30
X_1575 ... 30
X_1576 ... 30
X_1577 ... 30
X_1578 ... 30
X_1579 ... 30
X_1580 ... 30
X_1581 ... 30
X_1582 ... 30
X_1583 ... 30
X_1584 ... 30
X_1585 ... 30
X_1586 ... 30
X_1587 ... 30
X_1588 ... 30
X_1589 ... 30
X_1590 ... 30
X_1591 ... 30
X_1592 ... 30
X_1593 ... 30
X_1594 ... 30
X_1595 ... 30
X_1596 ... 30
X_1597 ... 30
X_1598 ... 30
X_1599 ... 30
X_1600 ... 30
X_1601 ... 30
X_1602 ... 30
X_1603 ... 30
X_1604 ... 30
X_1605 ... 30
X_1606 ... 30
X_1607 ... 30
X_1608 ... 30
X_1609 ... 30
X_1610 ... 30
X_1611 ... 30
X_1612 ... 30
X_1613 ... 30
X_1614 ... 30
X_1615 ... 30
X_1616 ... 30
X_1617 ... 30
X_1618 ... 30
X_1619 ... 30
X_1620 ... 30
X_1621 ... 30
X_1622 ... 30
X_1623 ... 30
X_1624 ... 30
X_1625 ... 30
X_1626 ... 30
X_1627 ... 30
X_1628 ... 30
X_1629 ... 30
X_1630 ... 30
X_1631 ... 30
X_1632 ... 30
X_1633 ... 30
X_1634 ... 30
X_1635 ... 30
X_1636 ... 30
X_1637 ... 30
X_1638 ... 30
X_1639 ... 30
X_1640 ... 30
X_1641 ... 30
X_1642 ... 30
X_1643 ... 30
X_1644 ... 30
X_1645 ... 30
X_1646 ... 30
X_1647 ... 30
X_1648 ... 30
X_1649 ... 30
X_1650 ... 30
X_1651 ... 30
X_1652 ... 30
X_1653 ... 30
X_1654 ... 30
X_1655 ... 30
X_1656 ... 30
X_1657 ... 30
X_1658 ... 30
X_1659 ... 30
X_1660 ... 30
X_1661 ... 30
X_1662 ... 30
X_1663 ... 30
X_1664 ... 30
X_1665 ... 30
X_1666 ... 30
X_1667 ... 30
X_1668 ... 30
X_1669 ... 30
X_1670 ... 30
X_1671 ... 30
X_1672 ... 30
X_1673 ... 30
X_1674 ... 30
X_1675 ... 30
X_1676 ... 30
X_1677 ... 30
X_1678 ... 30
X_1679 ... 30
X_1680 ... 30
X_1681 ... 30
X_1682 ... 30
X_1683 ... 30
X_1684 ... 30
X_1685 ... 30
X_1686 ... 30
X_1687 ... 30
X_1688 ... 30
X_1689 ... 30
X_1690 ... 30
X_1691 ... 30
X_1692 ... 30
X_1693 ... 30
X_1694 ... 30
X_1695 ... 30
X_1696 ... 30
X_1697 ... 30
X_1698 ... 30
X_1699 ... 30
X_1700 ... 30
X_1951 ... 30
X_1952 ... 30
X_1953 ... 30
X_1954 ... 30
X_1955 ... 30
X_1956 ... 30
X_1957 ... 30
X_1958 ... 30
X_1959 ... 30
X_1960 ... 30
X_1961 ... 30
X_1962 ... 30
X_1963 ... 30
X_1964 ... 30
X_1965 ... 30
X_1966 ... 30
X_1967 ... 30
X_1968 ... 30
X_2041 ... 30
X_2042 ... 30
X_2043 ... 30
X_2044 ... 30
X_2045 ... 30
X_2056 ... 30
X_2057 ... 30
X_2058 ... 30
X_2059 ... 30
X_2060 ... 30
X_2061 ... 30
X_2062 ... 30
X_2866 ... 30
X_2867 ... 30
X_2868 ... 30
X_2869 ... 30
X_2870 ... 30

## A050304 : C_1
- 최대 카운트 37

- 카운트 0 : 907개 열
- 카운트 15 : 70개 열
- 카운트 1 : 5개 열
- 카운트 18 : 1개 열

In [12]:
C_1_A050304 = C_1.loc[C_1.CODE_LINE == "A050304"]
C_1_A050304 = C_1_A050304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_A050304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,0.533433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,0.531267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,0.531590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
2022-06-13 06:03:00,0.533665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.50,41.42,38.36,30.83,76.93,NaN,NaN,NaN,NaN,NaN
2022-06-13 06:19:00,0.531821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.25,43.17,55.60,33.26,78.50,NaN,NaN,NaN,NaN,NaN

In [13]:
C_1_A050304_des = pd.DataFrame({
    "COUNT" : C_1_A050304.count(),
    "MEAN" : C_1_A050304.mean(),
    "STD" : C_1_A050304.std(),
    "MIN" : C_1_A050304.min(),
    "Q1" : C_1_A050304.quantile(0.25),
    "Q2" : C_1_A050304.quantile(0.5),
    "Q3" : C_1_A050304.quantile(0.75),
    "MAX" : C_1_A050304.max()
})

C_1_A050304_des.COUNT.value_counts()

37    1441
0      907
24     420
15      70
34      26
1        5
32       3
33       1
30       1
18       1
26       1
Name: COUNT, dtype: int64

- 최대 카운트 37개 중에서 24개 이상인 각 X 변수에 각 평균으로 대체

In [14]:
C_1_A050304_des.loc[(C_1_A050304_des.COUNT >= 24) & (C_1_A050304_des.COUNT < 37)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_990,32,163.937500,0.245935,163.000000,164.000000,164.00000,164.00000,164.000000
X_991,32,111281.250000,11860.028763,101000.000000,102000.000000,102000.00000,122250.00000,130000.000000
X_1174,33,2.754545,6.672054,0.900000,1.000000,1.10000,1.10000,29.400000
X_1175,32,11.718750,0.581121,11.000000,11.000000,12.00000,12.00000,13.000000
X_1408,30,34.097332,56.090585,-1.854354,3.441366,17.92919,36.26834,251.984198
...,...,...,...,...,...,...,...,...
X_2867,34,52.194118,9.410584,31.700000,44.472500,55.87000,58.28000,65.480000
X_2868,34,48.394412,7.729129,32.560000,40.510000,50.76500,54.90000,59.680000
X_2869,34,49.036765,10.559114,30.720000,35.930000,55.43000,57.06250,58.640000
X_2870,34,68.318235,6.265298,61.670000,63.770000,65.20000,76.18000,79.750000
X_2871,26,1.000000,0.000000,1.000000,1.000000,1.00000,1.00000,1.000000

In [15]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_1_A050304_24_37.txt', 'w', encoding='UTF-8') as f:
    for name in C_1_A050304_des.loc[(C_1_A050304_des.COUNT >= 24) & (C_1_A050304_des.COUNT < 37)].index:
        f.write(name+'\n')

In [16]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_1_A050304_24_37.txt','r')
C_1_A050304_24_37 = f.read()
f.close()
C_1_A050304_24_37

'X_990\nX_991\nX_1174\nX_1175\nX_1408\nX_1951\nX_1952\nX_1953\nX_1954\nX_1955\nX_1956\nX_1957\nX_1958\nX_1959\nX_1960\nX_1961\nX_1962\nX_1963\nX_1964\nX_1965\nX_1966\nX_1967\nX_1968\nX_2041\nX_2042\nX_2043\nX_2063\nX_2064\nX_2065\nX_2066\nX_2067\nX_2068\nX_2069\nX_2070\nX_2071\nX_2072\nX_2073\nX_2074\nX_2075\nX_2076\nX_2077\nX_2078\nX_2079\nX_2080\nX_2081\nX_2082\nX_2083\nX_2084\nX_2085\nX_2086\nX_2087\nX_2088\nX_2089\nX_2090\nX_2091\nX_2092\nX_2100\nX_2101\nX_2102\nX_2103\nX_2104\nX_2105\nX_2106\nX_2107\nX_2108\nX_2109\nX_2110\nX_2111\nX_2112\nX_2113\nX_2114\nX_2115\nX_2116\nX_2117\nX_2118\nX_2119\nX_2120\nX_2121\nX_2122\nX_2123\nX_2124\nX_2125\nX_2126\nX_2127\nX_2128\nX_2129\nX_2130\nX_2131\nX_2132\nX_2133\nX_2134\nX_2135\nX_2136\nX_2137\nX_2138\nX_2139\nX_2140\nX_2141\nX_2142\nX_2143\nX_2144\nX_2145\nX_2146\nX_2147\nX_2148\nX_2149\nX_2150\nX_2151\nX_2152\nX_2153\nX_2154\nX_2155\nX_2156\nX_2157\nX_2158\nX_2159\nX_2160\nX_2161\nX_2162\nX_2163\nX_2164\nX_2165\nX_2166\nX_2167\nX_2168\nX_2169\nX_2170\nX_2171\nX_2172\nX_2173\nX_2174\nX_2175\nX_2176\nX_2177\nX_2178\nX_2179\nX_2180\nX_2181\nX_2182\nX_2183\nX_2184\nX_2185\nX_2186\nX_2187\nX_2188\nX_2189\nX_2190\nX_2191\nX_2192\nX_2193\nX_2194\nX_2195\nX_2196\nX_2197\nX_2198\nX_2199\nX_2200\nX_2201\nX_2202\nX_2203\nX_2204\nX_2205\nX_2206\nX_2207\nX_2208\nX_2209\nX_2210\nX_2211\nX_2212\nX_2213\nX_2214\nX_2215\nX_2216\nX_2217\nX_2218\nX_2219\nX_2220\nX_2221\nX_2222\nX_2223\nX_2224\nX_2225\nX_2226\nX_2227\nX_2228\nX_2229\nX_2230\nX_2231\nX_2232\nX_2233\nX_2234\nX_2235\nX_2236\nX_2237\nX_2238\nX_2239\nX_2240\nX_2241\nX_2242\nX_2243\nX_2244\nX_2245\nX_2246\nX_2247\nX_2248\nX_2249\nX_2250\nX_2251\nX_2252\nX_2253\nX_2254\nX_2255\nX_2256\nX_2257\nX_2258\nX_2259\nX_2260\nX_2261\nX_2262\nX_2263\nX_2264\nX_2265\nX_2266\nX_2267\nX_2268\nX_2269\nX_2270\nX_2271\nX_2272\nX_2273\nX_2274\nX_2275\nX_2276\nX_2277\nX_2278\nX_2279\nX_2280\nX_2281\nX_2282\nX_2283\nX_2284\nX_2285\nX_2286\nX_2287\nX_2288\nX_2289\nX_2290\nX_2291\nX_2292\nX_2293\nX_2294\nX_2295\nX_2296\nX_2297\nX_2298\nX_2299\nX_2300\nX_2301\nX_2302\nX_2303\nX_2304\nX_2305\nX_2306\nX_2307\nX_2308\nX_2309\nX_2310\nX_2311\nX_2312\nX_2313\nX_2314\nX_2315\nX_2316\nX_2317\nX_2318\nX_2319\nX_2320\nX_2321\nX_2322\nX_2323\nX_2324\nX_2325\nX_2326\nX_2327\nX_2328\nX_2329\nX_2330\nX_2331\nX_2332\nX_2333\nX_2334\nX_2335\nX_2336\nX_2337\nX_2338\nX_2339\nX_2340\nX_2341\nX_2342\nX_2343\nX_2344\nX_2345\nX_2346\nX_2347\nX_2348\nX_2349\nX_2350\nX_2351\nX_2352\nX_2353\nX_2354\nX_2355\nX_2356\nX_2357\nX_2358\nX_2359\nX_2360\nX_2361\nX_2362\nX_2363\nX_2364\nX_2365\nX_2366\nX_2367\nX_2368\nX_2369\nX_2370\nX_2371\nX_2372\nX_2373\nX_2374\nX_2375\nX_2376\nX_2377\nX_2378\nX_2379\nX_2380\nX_2381\nX_2382\nX_2383\nX_2384\nX_2385\nX_2386\nX_2387\nX_2388\nX_2389\nX_2390\nX_2391\nX_2392\nX_2393\nX_2394\nX_2395\nX_2396\nX_2397\nX_2398\nX_2399\nX_2400\nX_2401\nX_2402\nX_2403\nX_2404\nX_2405\nX_2406\nX_2407\nX_2543\nX_2544\nX_2546\nX_2547\nX_2549\nX_2550\nX_2552\nX_2553\nX_2554\nX_2555\nX_2556\nX_2557\nX_2558\nX_2559\nX_2560\nX_2561\nX_2562\nX_2563\nX_2564\nX_2565\nX_2566\nX_2567\nX_2568\nX_2569\nX_2570\nX_2571\nX_2572\nX_2573\nX_2574\nX_2575\nX_2576\nX_2577\nX_2578\nX_2579\nX_2580\nX_2581\nX_2582\nX_2583\nX_2584\nX_2585\nX_2586\nX_2587\nX_2588\nX_2589\nX_2590\nX_2591\nX_2592\nX_2593\nX_2594\nX_2595\nX_2596\nX_2597\nX_2598\nX_2599\nX_2600\nX_2601\nX_2602\nX_2603\nX_2604\nX_2605\nX_2606\nX_2607\nX_2608\nX_2609\nX_2610\nX_2611\nX_2612\nX_2613\nX_2614\nX_2615\nX_2616\nX_2617\nX_2618\nX_2619\nX_2620\nX_2621\nX_2622\nX_2623\nX_2624\nX_2625\nX_2626\nX_2627\nX_2866\nX_2867\nX_2868\nX_2869\nX_2870\nX_2871\n'

In [17]:
cols = ['X_990','X_991','X_1174','X_1175','X_1408','X_1951','X_1952','X_1953','X_1954','X_1955','X_1956','X_1957','X_1958','X_1959','X_1960','X_1961','X_1962','X_1963','X_1964','X_1965','X_1966','X_1967','X_1968','X_2041','X_2042','X_2043','X_2063','X_2064','X_2065','X_2066','X_2067','X_2068','X_2069','X_2070','X_2071','X_2072','X_2073','X_2074','X_2075','X_2076','X_2077','X_2078','X_2079','X_2080','X_2081','X_2082','X_2083','X_2084','X_2085','X_2086','X_2087','X_2088','X_2089','X_2090','X_2091','X_2092','X_2100','X_2101','X_2102','X_2103','X_2104','X_2105','X_2106','X_2107','X_2108','X_2109','X_2110','X_2111','X_2112','X_2113','X_2114','X_2115','X_2116','X_2117','X_2118','X_2119','X_2120','X_2121','X_2122','X_2123','X_2124','X_2125','X_2126','X_2127','X_2128','X_2129','X_2130','X_2131','X_2132','X_2133','X_2134','X_2135','X_2136','X_2137','X_2138','X_2139','X_2140','X_2141','X_2142','X_2143','X_2144','X_2145','X_2146','X_2147','X_2148','X_2149','X_2150','X_2151','X_2152','X_2153','X_2154','X_2155','X_2156','X_2157','X_2158','X_2159','X_2160','X_2161','X_2162','X_2163','X_2164','X_2165','X_2166','X_2167','X_2168','X_2169','X_2170','X_2171','X_2172','X_2173','X_2174','X_2175','X_2176','X_2177','X_2178','X_2179','X_2180','X_2181','X_2182','X_2183','X_2184','X_2185','X_2186','X_2187','X_2188','X_2189','X_2190','X_2191','X_2192','X_2193','X_2194','X_2195','X_2196','X_2197','X_2198','X_2199','X_2200','X_2201','X_2202','X_2203','X_2204','X_2205','X_2206','X_2207','X_2208','X_2209','X_2210','X_2211','X_2212','X_2213','X_2214','X_2215','X_2216','X_2217','X_2218','X_2219','X_2220','X_2221','X_2222','X_2223','X_2224','X_2225','X_2226','X_2227','X_2228','X_2229','X_2230','X_2231','X_2232','X_2233','X_2234','X_2235','X_2236','X_2237','X_2238','X_2239','X_2240','X_2241','X_2242','X_2243','X_2244','X_2245','X_2246','X_2247','X_2248','X_2249','X_2250','X_2251','X_2252','X_2253','X_2254','X_2255','X_2256','X_2257','X_2258','X_2259','X_2260','X_2261','X_2262','X_2263','X_2264','X_2265','X_2266','X_2267','X_2268','X_2269','X_2270','X_2271','X_2272','X_2273','X_2274','X_2275','X_2276','X_2277','X_2278','X_2279','X_2280','X_2281','X_2282','X_2283','X_2284','X_2285','X_2286','X_2287','X_2288','X_2289','X_2290','X_2291','X_2292','X_2293','X_2294','X_2295','X_2296','X_2297','X_2298','X_2299','X_2300','X_2301','X_2302','X_2303','X_2304','X_2305','X_2306','X_2307','X_2308','X_2309','X_2310','X_2311','X_2312','X_2313','X_2314','X_2315','X_2316','X_2317','X_2318','X_2319','X_2320','X_2321','X_2322','X_2323','X_2324','X_2325','X_2326','X_2327','X_2328','X_2329','X_2330','X_2331','X_2332','X_2333','X_2334','X_2335','X_2336','X_2337','X_2338','X_2339','X_2340','X_2341','X_2342','X_2343','X_2344','X_2345','X_2346','X_2347','X_2348','X_2349','X_2350','X_2351','X_2352','X_2353','X_2354','X_2355','X_2356','X_2357','X_2358','X_2359','X_2360','X_2361','X_2362','X_2363','X_2364','X_2365','X_2366','X_2367','X_2368','X_2369','X_2370','X_2371','X_2372','X_2373','X_2374','X_2375','X_2376','X_2377','X_2378','X_2379','X_2380','X_2381','X_2382','X_2383','X_2384','X_2385','X_2386','X_2387','X_2388','X_2389','X_2390','X_2391','X_2392','X_2393','X_2394','X_2395','X_2396','X_2397','X_2398','X_2399','X_2400','X_2401','X_2402','X_2403','X_2404','X_2405','X_2406','X_2407','X_2543','X_2544','X_2546','X_2547','X_2549','X_2550','X_2552','X_2553','X_2554','X_2555','X_2556','X_2557','X_2558','X_2559','X_2560','X_2561','X_2562','X_2563','X_2564','X_2565','X_2566','X_2567','X_2568','X_2569','X_2570','X_2571','X_2572','X_2573','X_2574','X_2575','X_2576','X_2577','X_2578','X_2579','X_2580','X_2581','X_2582','X_2583','X_2584','X_2585','X_2586','X_2587','X_2588','X_2589','X_2590','X_2591','X_2592','X_2593','X_2594','X_2595','X_2596','X_2597','X_2598','X_2599','X_2600','X_2601','X_2602','X_2603','X_2604','X_2605','X_2606','X_2607','X_2608','X_2609','X_2610','X_2611','X_2612','X_2613','X_2614','X_2615','X_2616','X_2617','X_2618','X_2619','X_2620','X_2621','X_2622','X_2623','X_2624','X_2625','X_2626','X_2627','X_2866','X_2867','X_2868','X_2869','X_2870','X_2871']

In [18]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050304")] = train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050304")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050304")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050304")].count()
    print("{} ... {}".format(col, a))

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\985175256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050304")] = train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050304")].fillna(

X_990 ... 37
X_991 ... 37
X_1174 ... 37
X_1175 ... 37
X_1408 ... 37
X_1951 ... 37
X_1952 ... 37
X_1953 ... 37
X_1954 ... 37
X_1955 ... 37
X_1956 ... 37
X_1957 ... 37
X_1958 ... 37
X_1959 ... 37
X_1960 ... 37
X_1961 ... 37
X_1962 ... 37
X_1963 ... 37
X_1964 ... 37
X_1965 ... 37
X_1966 ... 37
X_1967 ... 37
X_1968 ... 37
X_2041 ... 37
X_2042 ... 37
X_2043 ... 37
X_2063 ... 37
X_2064 ... 37
X_2065 ... 37
X_2066 ... 37
X_2067 ... 37
X_2068 ... 37
X_2069 ... 37
X_2070 ... 37
X_2071 ... 37
X_2072 ... 37
X_2073 ... 37
X_2074 ... 37
X_2075 ... 37
X_2076 ... 37
X_2077 ... 37
X_2078 ... 37
X_2079 ... 37
X_2080 ... 37
X_2081 ... 37
X_2082 ... 37
X_2083 ... 37
X_2084 ... 37
X_2085 ... 37
X_2086 ... 37
X_2087 ... 37
X_2088 ... 37
X_2089 ... 37
X_2090 ... 37
X_2091 ... 37
X_2092 ... 37
X_2100 ... 37
X_2101 ... 37
X_2102 ... 37
X_2103 ... 37
X_2104 ... 37
X_2105 ... 37
X_2106 ... 37
X_2107 ... 37
X_2108 ... 37
X_2109 ... 37
X_2110 ... 37
X_2111 ... 37
X_2112 ... 37
X_2113 ... 37
X_2114 ... 37
X_2115 ... 37
X_2116 ... 37
X_2117 ... 37
X_2118 ... 37
X_2119 ... 37
X_2120 ... 37
X_2121 ... 37
X_2122 ... 37
X_2123 ... 37
X_2124 ... 37
X_2125 ... 37
X_2126 ... 37
X_2127 ... 37
X_2128 ... 37
X_2129 ... 37
X_2130 ... 37
X_2131 ... 37
X_2132 ... 37
X_2133 ... 37
X_2134 ... 37
X_2135 ... 37
X_2136 ... 37
X_2137 ... 37
X_2138 ... 37
X_2139 ... 37
X_2140 ... 37
X_2141 ... 37
X_2142 ... 37
X_2143 ... 37
X_2144 ... 37
X_2145 ... 37
X_2146 ... 37
X_2147 ... 37
X_2148 ... 37
X_2149 ... 37
X_2150 ... 37
X_2151 ... 37
X_2152 ... 37
X_2153 ... 37
X_2154 ... 37
X_2155 ... 37
X_2156 ... 37
X_2157 ... 37
X_2158 ... 37
X_2159 ... 37
X_2160 ... 37
X_2161 ... 37
X_2162 ... 37
X_2163 ... 37
X_2164 ... 37
X_2165 ... 37
X_2166 ... 37
X_2167 ... 37
X_2168 ... 37
X_2169 ... 37
X_2170 ... 37
X_2171 ... 37
X_2172 ... 37
X_2173 ... 37
X_2174 ... 37
X_2175 ... 37
X_2176 ... 37
X_2177 ... 37
X_2178 ... 37
X_2179 ... 37
X_2180 ... 37
X_2181 ... 37
X_2182 ... 37
X_2183 ... 37
X_2184 ... 37
X_2185 ... 37
X_2186 ... 37
X_2187 ... 37
X_2188 ... 37
X_2189 ... 37
X_2190 ... 37
X_2191 ... 37
X_2192 ... 37
X_2193 ... 37
X_2194 ... 37
X_2195 ... 37
X_2196 ... 37
X_2197 ... 37
X_2198 ... 37
X_2199 ... 37
X_2200 ... 37
X_2201 ... 37
X_2202 ... 37
X_2203 ... 37
X_2204 ... 37
X_2205 ... 37
X_2206 ... 37
X_2207 ... 37
X_2208 ... 37
X_2209 ... 37
X_2210 ... 37
X_2211 ... 37
X_2212 ... 37
X_2213 ... 37
X_2214 ... 37
X_2215 ... 37
X_2216 ... 37
X_2217 ... 37
X_2218 ... 37
X_2219 ... 37
X_2220 ... 37
X_2221 ... 37
X_2222 ... 37
X_2223 ... 37
X_2224 ... 37
X_2225 ... 37
X_2226 ... 37
X_2227 ... 37
X_2228 ... 37
X_2229 ... 37
X_2230 ... 37
X_2231 ... 37
X_2232 ... 37
X_2233 ... 37
X_2234 ... 37
X_2235 ... 37
X_2236 ... 37
X_2237 ... 37
X_2238 ... 37
X_2239 ... 37
X_2240 ... 37
X_2241 ... 37
X_2242 ... 37
X_2243 ... 37
X_2244 ... 37
X_2245 ... 37
X_2246 ... 37
X_2247 ... 37
X_2248 ... 37
X_2249 ... 37
X_2250 ... 37
X_2251 ... 37
X_2252 ... 37
X_2253 ... 37
X_2254 ... 37
X_2255 ... 37
X_2256 ... 37
X_2257 ... 37
X_2258 ... 37
X_2259 ... 37
X_2260 ... 37
X_2261 ... 37
X_2262 ... 37
X_2263 ... 37
X_2264 ... 37
X_2265 ... 37
X_2266 ... 37
X_2267 ... 37
X_2268 ... 37
X_2269 ... 37
X_2270 ... 37
X_2271 ... 37
X_2272 ... 37
X_2273 ... 37
X_2274 ... 37
X_2275 ... 37
X_2276 ... 37
X_2277 ... 37
X_2278 ... 37
X_2279 ... 37
X_2280 ... 37
X_2281 ... 37
X_2282 ... 37
X_2283 ... 37
X_2284 ... 37
X_2285 ... 37
X_2286 ... 37
X_2287 ... 37
X_2288 ... 37
X_2289 ... 37
X_2290 ... 37
X_2291 ... 37
X_2292 ... 37
X_2293 ... 37
X_2294 ... 37
X_2295 ... 37
X_2296 ... 37
X_2297 ... 37
X_2298 ... 37
X_2299 ... 37
X_2300 ... 37
X_2301 ... 37
X_2302 ... 37
X_2303 ... 37
X_2304 ... 37
X_2305 ... 37
X_2306 ... 37
X_2307 ... 37
X_2308 ... 37
X_2309 ... 37
X_2310 ... 37
X_2311 ... 37
X_2312 ... 37
X_2313 ... 37
X_2314 ... 37
X_2315 ... 37
X_2316 ... 37
X_2317 ... 37
X_2318 ... 37
X_2319 ... 37
X_2320 ... 37
X_2321 ... 37
X_2322 ... 37
X_2323 ... 37
X_2324 ... 37
X_2325 ... 37
X_2326 ... 37
X_2327 ... 37
X_2328 ... 37
X_2329 ... 37
X_2330 ... 37
X_2331 ... 37
X_2332 ... 37
X_2333 ... 37
X_2334 ... 37
X_2335 ... 37
X_2336 ... 37
X_2337 ... 37
X_2338 ... 37
X_2339 ... 37
X_2340 ... 37
X_2341 ... 37
X_2342 ... 37
X_2343 ... 37
X_2344 ... 37
X_2345 ... 37
X_2346 ... 37
X_2347 ... 37
X_2348 ... 37
X_2349 ... 37
X_2350 ... 37
X_2351 ... 37
X_2352 ... 37
X_2353 ... 37
X_2354 ... 37
X_2355 ... 37
X_2356 ... 37
X_2357 ... 37
X_2358 ... 37
X_2359 ... 37
X_2360 ... 37
X_2361 ... 37
X_2362 ... 37
X_2363 ... 37
X_2364 ... 37
X_2365 ... 37
X_2366 ... 37
X_2367 ... 37
X_2368 ... 37
X_2369 ... 37
X_2370 ... 37
X_2371 ... 37
X_2372 ... 37
X_2373 ... 37
X_2374 ... 37
X_2375 ... 37
X_2376 ... 37
X_2377 ... 37
X_2378 ... 37
X_2379 ... 37
X_2380 ... 37
X_2381 ... 37
X_2382 ... 37
X_2383 ... 37
X_2384 ... 37
X_2385 ... 37
X_2386 ... 37
X_2387 ... 37
X_2388 ... 37
X_2389 ... 37
X_2390 ... 37
X_2391 ... 37
X_2392 ... 37
X_2393 ... 37
X_2394 ... 37
X_2395 ... 37
X_2396 ... 37
X_2397 ... 37
X_2398 ... 37
X_2399 ... 37
X_2400 ... 37
X_2401 ... 37
X_2402 ... 37
X_2403 ... 37
X_2404 ... 37
X_2405 ... 37
X_2406 ... 37
X_2407 ... 37
X_2543 ... 37
X_2544 ... 37
X_2546 ... 37
X_2547 ... 37
X_2549 ... 37
X_2550 ... 37
X_2552 ... 37
X_2553 ... 37
X_2554 ... 37
X_2555 ... 37
X_2556 ... 37
X_2557 ... 37
X_2558 ... 37
X_2559 ... 37
X_2560 ... 37
X_2561 ... 37
X_2562 ... 37
X_2563 ... 37
X_2564 ... 37
X_2565 ... 37
X_2566 ... 37
X_2567 ... 37
X_2568 ... 37
X_2569 ... 37
X_2570 ... 37
X_2571 ... 37
X_2572 ... 37
X_2573 ... 37
X_2574 ... 37
X_2575 ... 37
X_2576 ... 37
X_2577 ... 37
X_2578 ... 37
X_2579 ... 37
X_2580 ... 37
X_2581 ... 37
X_2582 ... 37
X_2583 ... 37
X_2584 ... 37
X_2585 ... 37
X_2586 ... 37
X_2587 ... 37
X_2588 ... 37
X_2589 ... 37
X_2590 ... 37
X_2591 ... 37
X_2592 ... 37
X_2593 ... 37
X_2594 ... 37
X_2595 ... 37
X_2596 ... 37
X_2597 ... 37
X_2598 ... 37
X_2599 ... 37
X_2600 ... 37
X_2601 ... 37
X_2602 ... 37
X_2603 ... 37
X_2604 ... 37
X_2605 ... 37
X_2606 ... 37
X_2607 ... 37
X_2608 ... 37
X_2609 ... 37
X_2610 ... 37
X_2611 ... 37
X_2612 ... 37
X_2613 ... 37
X_2614 ... 37
X_2615 ... 37
X_2616 ... 37
X_2617 ... 37
X_2618 ... 37
X_2619 ... 37
X_2620 ... 37
X_2621 ... 37
X_2622 ... 37
X_2623 ... 37
X_2624 ... 37
X_2625 ... 37
X_2626 ... 37
X_2627 ... 37
X_2866 ... 37
X_2867 ... 37
X_2868 ... 37
X_2869 ... 37
X_2870 ... 37
X_2871 ... 37

## A050304 : C_2
- 최대 카운트 11

- 카운트 0 : 907개 열
- 카운트 6 : 420개 열
- 카운트 3 : 70개 열
- 카운트 1 : 5개 열
- 카운트 2 : 1개 열

In [19]:
C_2_A050304 = C_2.loc[C_2.CODE_LINE == "A050304"]
C_2_A050304 = C_2_A050304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_A050304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-14 05:58:00,0.544129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2022-07-01 00:54:00,0.538629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.49,55.59,60.00,58.18,66.79,1.0,NaN,NaN,NaN,NaN
2022-07-01 01:11:00,0.537733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.89,63.42,42.71,57.03,66.20,1.0,NaN,NaN,NaN,NaN
2022-07-19 06:27:00,0.535405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2022-07-31 14:15:00,0.537046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.49,58.06,33.43,54.71,61.93,1.0,NaN,NaN,NaN,NaN

In [20]:
C_2_A050304_des = pd.DataFrame({
    "COUNT" : C_2_A050304.count(),
    "MEAN" : C_2_A050304.mean(),
    "STD" : C_2_A050304.std(),
    "MIN" : C_2_A050304.min(),
    "Q1" : C_2_A050304.quantile(0.25),
    "Q2" : C_2_A050304.quantile(0.5),
    "Q3" : C_2_A050304.quantile(0.75),
    "MAX" : C_2_A050304.max()
})

C_2_A050304_des.COUNT.value_counts()

11    1442
0      907
6      420
3       70
9       27
1        5
10       3
8        1
2        1
Name: COUNT, dtype: int64

- 최대 카운트 11개 중에서 7개 이상인 각 X 변수에 각 평균으로 대체

In [21]:
C_2_A050304_des.loc[(C_2_A050304_des.COUNT >= 7) & (C_2_A050304_des.COUNT < 11)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_990,10,163.900000,3.162278e-01,163.000000,164.000000,164.000000,164.000000,164.000000
X_991,10,109300.000000,1.144115e+04,102000.000000,102000.000000,102500.000000,118000.000000,130000.000000
X_1174,8,1.012500,8.345230e-02,0.900000,0.975000,1.000000,1.100000,1.100000
X_1175,10,11.600000,5.163978e-01,11.000000,11.000000,12.000000,12.000000,12.000000
X_1408,9,37.794208,3.383375e+01,-2.020305,12.717004,38.572595,52.000000,96.959236
X_1951,9,0.166552,6.193628e-03,0.160000,0.161636,0.162700,0.173100,0.173300
X_1952,9,0.000014,3.820455e-06,0.000008,0.000013,0.000015,0.000017,0.000018
X_1953,9,0.000221,1.918371e-05,0.000196,0.000203,0.000232,0.000236,0.000242
X_1954,9,0.000099,4.531672e-05,0.000042,0.000044,0.000107,0.000131,0.000155
X_1955,9,0.000015,2.754088e-06,0.000011,0.000012,0.000016,0.000017,0.000018
X_1956,9,0.000005,5.465218e-07,0.000004,0.000005,0.000005,0.000006,0.000006
X_1957,9,78.555556,7.584707e+00,69.000000,69.000000,81.000000,84.000000,88.000000
X_1958,9,54.242222,2.711083e+00,49.920000,53.490000,53.490000,56.380000,57.940000
X_1959,9,58.044444,2.912937e+00,54.660000,55.840000,57.130000,58.760000,63.420000
X_1960,9,47.480000,8.230279e+00,33.430000,42.220000,50.560000,53.070000,60.000000
X_1961,9,55.785556,2.871929e+00,48.630000,56.080000,56.590000,57.030000,58.180000
X_1962,9,64.908889,1.916614e+00,61.930000,64.170000,65.120000,66.200000,67.220000
X_1963,9,0.167562,7.024576e-03,0.158333,0.161400,0.165400,0.174900,0.175400
X_1964,9,0.000013,5.427119e-06,0.000007,0.000008,0.000015,0.000017,0.000021
X_1965,9,0.000227,1.824599e-05,0.000199,0.000210,0.000239,0.000242,0.000245
X_1966,9,0.000071,2.835272e-05,0.000035,0.000037,0.000071,0.000093,0.000103
X_1967,9,0.000008,3.387440e-06,0.000005,0.000006,0.000006,0.000011,0.000014
X_1968,9,0.000005,1.125734e-06,0.000003,0.000004,0.000005,0.000005,0.000007
X_2041,9,0.093295,1.603266e-03,0.091500,0.091980,0.092400,0.095000,0.095155
X_2042,9,0.094811,1.791957e-03,0.093300,0.093300,0.093300,0.096700,0.096700
X_2043,9,0.091467,1.739253e-03,0.090000,0.090000,0.090000,0.093300,0.093300
X_2866,9,54.242222,2.711083e+00,49.920000,53.490000,53.490000,56.380000,57.940000
X_2867,9,58.044444,2.912937e+00,54.660000,55.840000,57.130000,58.760000,63.420000
X_2868,9,47.480000,8.230279e+00,33.430000,42.220000,50.560000,53.070000,60.000000
X_2869,9,55.785556,2.871929e+00,48.630000,56.080000,56.590000,57.030000,58.180000
X_2870,9,64.908889,1.916614e+00,61.930000,64.170000,65.120000,66.200000,67.220000

In [22]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_2_A050304_7_11.txt', 'w', encoding='UTF-8') as f:
    for name in C_2_A050304_des.loc[(C_2_A050304_des.COUNT >= 7) & (C_2_A050304_des.COUNT < 11)].index:
        f.write(name+'\n')

In [23]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_2_A050304_7_11.txt','r')
C_2_A050304_7_11 = f.read()
f.close()
C_2_A050304_7_11

'X_990\nX_991\nX_1174\nX_1175\nX_1408\nX_1951\nX_1952\nX_1953\nX_1954\nX_1955\nX_1956\nX_1957\nX_1958\nX_1959\nX_1960\nX_1961\nX_1962\nX_1963\nX_1964\nX_1965\nX_1966\nX_1967\nX_1968\nX_2041\nX_2042\nX_2043\nX_2866\nX_2867\nX_2868\nX_2869\nX_2870\n'

In [24]:
cols = ['X_990','X_991','X_1174','X_1175','X_1408','X_1951','X_1952','X_1953','X_1954','X_1955','X_1956','X_1957','X_1958','X_1959','X_1960','X_1961','X_1962','X_1963','X_1964','X_1965','X_1966','X_1967','X_1968','X_2041','X_2042','X_2043','X_2866','X_2867','X_2868','X_2869','X_2870']

In [25]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050304")] = train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050304")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050304")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050304")].count()
    print("{} ... {}".format(col, a))

X_990 ... 11
X_991 ... 11
X_1174 ... 11
X_1175 ... 11
X_1408 ... 11
X_1951 ... 11
X_1952 ... 11
X_1953 ... 11
X_1954 ... 11
X_1955 ... 11
X_1956 ... 11
X_1957 ... 11
X_1958 ... 11
X_1959 ... 11
X_1960 ... 11
X_1961 ... 11
X_1962 ... 11
X_1963 ... 11
X_1964 ... 11
X_1965 ... 11
X_1966 ... 11
X_1967 ... 11
X_1968 ... 11
X_2041 ... 11
X_2042 ... 11
X_2043 ... 11
X_2866 ... 11
X_2867 ... 11
X_2868 ... 11
X_2869 ... 11
X_2870 ... 11

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\1563376270.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050304")] = train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050304")].fillna(

## T100304 : C_0
- 최대 카운트 17

- 카운트 0 : 2209개 열
- 카운트 8 : 10개 열

In [26]:
C_0_T100304 = C_0.loc[C_0.CODE_LINE == "T100304"]
C_0_T100304 = C_0_T100304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_0_T100304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-14 08:53:00,0.517719,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-14 09:01:00,0.519090,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01 19:57:00,0.524419,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01 20:05:00,0.520078,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01 20:13:00,0.524862,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
C_0_T100304_des = pd.DataFrame({
    "COUNT" : C_0_T100304.count(),
    "MEAN" : C_0_T100304.mean(),
    "STD" : C_0_T100304.std(),
    "MIN" : C_0_T100304.min(),
    "Q1" : C_0_T100304.quantile(0.25),
    "Q2" : C_0_T100304.quantile(0.5),
    "Q3" : C_0_T100304.quantile(0.75),
    "MAX" : C_0_T100304.max()
})

C_0_T100304_des.COUNT.value_counts()

0     2209
16     420
17     237
8       10
Name: COUNT, dtype: int64

- 최대 카운트 17개 중에서 11개 이상인 각 X 변수에 각 평균으로 대체

In [28]:
C_0_T100304_des.loc[(C_0_T100304_des.COUNT >= 11) & (C_0_T100304_des.COUNT < 17)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_384,16,3.143750,0.242126,2.800000,2.975000,3.150000,3.325000,3.600000
X_385,16,2.899456,0.199108,2.622581,2.748387,2.904839,3.020565,3.300000
X_386,16,2.700000,0.196638,2.400000,2.575000,2.750000,2.800000,3.100000
X_387,16,75.256250,1.131942,74.100000,74.475000,75.100000,75.375000,78.500000
X_388,16,74.000551,0.693363,73.066667,73.522957,74.020968,74.217500,75.990000
...,...,...,...,...,...,...,...,...
X_929,16,307.598864,4.508663,302.309091,303.136364,309.136364,311.809091,313.981818
X_930,16,291.875000,4.440345,288.000000,289.000000,289.000000,298.000000,299.000000
X_931,16,13.681250,0.040311,13.600000,13.700000,13.700000,13.700000,13.700000
X_932,16,13.467406,0.041617,13.373333,13.439167,13.475323,13.504919,13.513333
X_933,16,13.243750,0.051235,13.200000,13.200000,13.200000,13.300000,13.300000

In [29]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_0_T100304_11_17.txt', 'w', encoding='UTF-8') as f:
    for name in C_0_T100304_des.loc[(C_0_T100304_des.COUNT >= 11) & (C_0_T100304_des.COUNT < 17)].index:
        f.write(name+'\n')

In [30]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_0_T100304_11_17.txt','r')
C_0_T100304_11_17 = f.read()
f.close()
C_0_T100304_11_17

'X_384\nX_385\nX_386\nX_387\nX_388\nX_389\nX_390\nX_391\nX_392\nX_393\nX_394\nX_395\nX_396\nX_397\nX_398\nX_399\nX_406\nX_407\nX_408\nX_409\nX_410\nX_411\nX_412\nX_413\nX_414\nX_415\nX_416\nX_417\nX_418\nX_419\nX_420\nX_421\nX_422\nX_423\nX_424\nX_425\nX_426\nX_427\nX_428\nX_429\nX_430\nX_431\nX_432\nX_433\nX_434\nX_435\nX_436\nX_437\nX_438\nX_439\nX_440\nX_441\nX_472\nX_473\nX_474\nX_475\nX_476\nX_477\nX_478\nX_479\nX_480\nX_481\nX_482\nX_483\nX_484\nX_485\nX_486\nX_487\nX_488\nX_489\nX_490\nX_491\nX_492\nX_493\nX_494\nX_495\nX_496\nX_497\nX_498\nX_499\nX_500\nX_501\nX_502\nX_503\nX_504\nX_505\nX_506\nX_507\nX_508\nX_509\nX_510\nX_511\nX_512\nX_513\nX_514\nX_515\nX_516\nX_517\nX_518\nX_519\nX_520\nX_521\nX_522\nX_523\nX_524\nX_525\nX_526\nX_527\nX_528\nX_534\nX_535\nX_546\nX_547\nX_548\nX_549\nX_550\nX_551\nX_552\nX_553\nX_554\nX_555\nX_556\nX_557\nX_558\nX_568\nX_569\nX_570\nX_571\nX_572\nX_573\nX_574\nX_575\nX_576\nX_577\nX_578\nX_579\nX_580\nX_581\nX_582\nX_583\nX_584\nX_585\nX_586\nX_587\nX_588\nX_589\nX_590\nX_591\nX_592\nX_593\nX_594\nX_595\nX_596\nX_597\nX_598\nX_599\nX_605\nX_606\nX_607\nX_608\nX_609\nX_610\nX_611\nX_612\nX_613\nX_614\nX_615\nX_616\nX_617\nX_618\nX_619\nX_620\nX_621\nX_622\nX_623\nX_624\nX_625\nX_626\nX_627\nX_628\nX_629\nX_630\nX_631\nX_632\nX_633\nX_634\nX_635\nX_636\nX_637\nX_638\nX_639\nX_640\nX_641\nX_642\nX_643\nX_644\nX_645\nX_646\nX_647\nX_648\nX_649\nX_650\nX_652\nX_653\nX_654\nX_655\nX_656\nX_657\nX_658\nX_659\nX_660\nX_661\nX_662\nX_663\nX_664\nX_665\nX_666\nX_667\nX_668\nX_669\nX_670\nX_671\nX_672\nX_673\nX_674\nX_675\nX_676\nX_677\nX_678\nX_679\nX_680\nX_681\nX_682\nX_683\nX_684\nX_685\nX_686\nX_687\nX_688\nX_689\nX_690\nX_691\nX_692\nX_693\nX_694\nX_695\nX_700\nX_701\nX_702\nX_703\nX_704\nX_705\nX_706\nX_707\nX_708\nX_709\nX_710\nX_711\nX_712\nX_713\nX_714\nX_715\nX_716\nX_717\nX_718\nX_741\nX_742\nX_743\nX_744\nX_745\nX_746\nX_747\nX_748\nX_749\nX_750\nX_751\nX_752\nX_779\nX_780\nX_781\nX_782\nX_783\nX_784\nX_785\nX_786\nX_787\nX_788\nX_789\nX_790\nX_791\nX_792\nX_793\nX_794\nX_795\nX_796\nX_797\nX_798\nX_799\nX_800\nX_801\nX_802\nX_803\nX_804\nX_805\nX_806\nX_807\nX_808\nX_809\nX_810\nX_811\nX_812\nX_813\nX_814\nX_815\nX_816\nX_817\nX_818\nX_819\nX_820\nX_821\nX_822\nX_823\nX_824\nX_825\nX_826\nX_827\nX_828\nX_829\nX_830\nX_831\nX_832\nX_833\nX_834\nX_835\nX_836\nX_837\nX_838\nX_839\nX_840\nX_841\nX_842\nX_843\nX_844\nX_845\nX_846\nX_847\nX_848\nX_849\nX_850\nX_851\nX_852\nX_853\nX_854\nX_855\nX_856\nX_857\nX_858\nX_859\nX_860\nX_861\nX_862\nX_863\nX_864\nX_865\nX_866\nX_867\nX_868\nX_869\nX_870\nX_871\nX_872\nX_873\nX_874\nX_875\nX_876\nX_877\nX_878\nX_879\nX_880\nX_881\nX_890\nX_891\nX_892\nX_893\nX_894\nX_895\nX_896\nX_897\nX_902\nX_903\nX_904\nX_905\nX_906\nX_907\nX_908\nX_909\nX_910\nX_911\nX_912\nX_913\nX_914\nX_915\nX_916\nX_917\nX_918\nX_919\nX_920\nX_921\nX_922\nX_923\nX_924\nX_925\nX_926\nX_927\nX_928\nX_929\nX_930\nX_931\nX_932\nX_933\n'

In [31]:
cols = ['X_384','X_385','X_386','X_387','X_388','X_389','X_390','X_391','X_392','X_393','X_394','X_395','X_396','X_397','X_398','X_399','X_406','X_407','X_408','X_409','X_410','X_411','X_412','X_413','X_414','X_415','X_416','X_417','X_418','X_419','X_420','X_421','X_422','X_423','X_424','X_425','X_426','X_427','X_428','X_429','X_430','X_431','X_432','X_433','X_434','X_435','X_436','X_437','X_438','X_439','X_440','X_441','X_472','X_473','X_474','X_475','X_476','X_477','X_478','X_479','X_480','X_481','X_482','X_483','X_484','X_485','X_486','X_487','X_488','X_489','X_490','X_491','X_492','X_493','X_494','X_495','X_496','X_497','X_498','X_499','X_500','X_501','X_502','X_503','X_504','X_505','X_506','X_507','X_508','X_509','X_510','X_511','X_512','X_513','X_514','X_515','X_516','X_517','X_518','X_519','X_520','X_521','X_522','X_523','X_524','X_525','X_526','X_527','X_528','X_534','X_535','X_546','X_547','X_548','X_549','X_550','X_551','X_552','X_553','X_554','X_555','X_556','X_557','X_558','X_568','X_569','X_570','X_571','X_572','X_573','X_574','X_575','X_576','X_577','X_578','X_579','X_580','X_581','X_582','X_583','X_584','X_585','X_586','X_587','X_588','X_589','X_590','X_591','X_592','X_593','X_594','X_595','X_596','X_597','X_598','X_599','X_605','X_606','X_607','X_608','X_609','X_610','X_611','X_612','X_613','X_614','X_615','X_616','X_617','X_618','X_619','X_620','X_621','X_622','X_623','X_624','X_625','X_626','X_627','X_628','X_629','X_630','X_631','X_632','X_633','X_634','X_635','X_636','X_637','X_638','X_639','X_640','X_641','X_642','X_643','X_644','X_645','X_646','X_647','X_648','X_649','X_650','X_652','X_653','X_654','X_655','X_656','X_657','X_658','X_659','X_660','X_661','X_662','X_663','X_664','X_665','X_666','X_667','X_668','X_669','X_670','X_671','X_672','X_673','X_674','X_675','X_676','X_677','X_678','X_679','X_680','X_681','X_682','X_683','X_684','X_685','X_686','X_687','X_688','X_689','X_690','X_691','X_692','X_693','X_694','X_695','X_700','X_701','X_702','X_703','X_704','X_705','X_706','X_707','X_708','X_709','X_710','X_711','X_712','X_713','X_714','X_715','X_716','X_717','X_718','X_741','X_742','X_743','X_744','X_745','X_746','X_747','X_748','X_749','X_750','X_751','X_752','X_779','X_780','X_781','X_782','X_783','X_784','X_785','X_786','X_787','X_788','X_789','X_790','X_791','X_792','X_793','X_794','X_795','X_796','X_797','X_798','X_799','X_800','X_801','X_802','X_803','X_804','X_805','X_806','X_807','X_808','X_809','X_810','X_811','X_812','X_813','X_814','X_815','X_816','X_817','X_818','X_819','X_820','X_821','X_822','X_823','X_824','X_825','X_826','X_827','X_828','X_829','X_830','X_831','X_832','X_833','X_834','X_835','X_836','X_837','X_838','X_839','X_840','X_841','X_842','X_843','X_844','X_845','X_846','X_847','X_848','X_849','X_850','X_851','X_852','X_853','X_854','X_855','X_856','X_857','X_858','X_859','X_860','X_861','X_862','X_863','X_864','X_865','X_866','X_867','X_868','X_869','X_870','X_871','X_872','X_873','X_874','X_875','X_876','X_877','X_878','X_879','X_880','X_881','X_890','X_891','X_892','X_893','X_894','X_895','X_896','X_897','X_902','X_903','X_904','X_905','X_906','X_907','X_908','X_909','X_910','X_911','X_912','X_913','X_914','X_915','X_916','X_917','X_918','X_919','X_920','X_921','X_922','X_923','X_924','X_925','X_926','X_927','X_928','X_929','X_930','X_931','X_932','X_933']

In [32]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "T100304")] = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "T100304")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "T100304")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "T100304")].count()
    print("{} ... {}".format(col, a))

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\4012609040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "T100304")] = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "T100304")].fillna(

X_384 ... 17
X_385 ... 17
X_386 ... 17
X_387 ... 17
X_388 ... 17
X_389 ... 17
X_390 ... 17
X_391 ... 17
X_392 ... 17
X_393 ... 17
X_394 ... 17
X_395 ... 17
X_396 ... 17
X_397 ... 17
X_398 ... 17
X_399 ... 17
X_406 ... 17
X_407 ... 17
X_408 ... 17
X_409 ... 17
X_410 ... 17
X_411 ... 17
X_412 ... 17
X_413 ... 17
X_414 ... 17
X_415 ... 17
X_416 ... 17
X_417 ... 17
X_418 ... 17
X_419 ... 17
X_420 ... 17
X_421 ... 17
X_422 ... 17
X_423 ... 17
X_424 ... 17
X_425 ... 17
X_426 ... 17
X_427 ... 17
X_428 ... 17
X_429 ... 17
X_430 ... 17
X_431 ... 17
X_432 ... 17
X_433 ... 17
X_434 ... 17
X_435 ... 17
X_436 ... 17
X_437 ... 17
X_438 ... 17
X_439 ... 17
X_440 ... 17
X_441 ... 17
X_472 ... 17
X_473 ... 17
X_474 ... 17
X_475 ... 17
X_476 ... 17
X_477 ... 17
X_478 ... 17
X_479 ... 17
X_480 ... 17
X_481 ... 17
X_482 ... 17
X_483 ... 17
X_484 ... 17
X_485 ... 17
X_486 ... 17
X_487 ... 17
X_488 ... 17
X_489 ... 17
X_490 ... 17
X_491 ... 17
X_492 ... 17
X_493 ... 17
X_494 ... 17
X_495 ... 17
X_496 ... 17
X_497 ... 17
X_498 ... 17
X_499 ... 17
X_500 ... 17
X_501 ... 17
X_502 ... 17
X_503 ... 17
X_504 ... 17
X_505 ... 17
X_506 ... 17
X_507 ... 17
X_508 ... 17
X_509 ... 17
X_510 ... 17
X_511 ... 17
X_512 ... 17
X_513 ... 17
X_514 ... 17
X_515 ... 17
X_516 ... 17
X_517 ... 17
X_518 ... 17
X_519 ... 17
X_520 ... 17
X_521 ... 17
X_522 ... 17
X_523 ... 17
X_524 ... 17
X_525 ... 17
X_526 ... 17
X_527 ... 17
X_528 ... 17
X_534 ... 17
X_535 ... 17
X_546 ... 17
X_547 ... 17
X_548 ... 17
X_549 ... 17
X_550 ... 17
X_551 ... 17
X_552 ... 17
X_553 ... 17
X_554 ... 17
X_555 ... 17
X_556 ... 17
X_557 ... 17
X_558 ... 17
X_568 ... 17
X_569 ... 17
X_570 ... 17
X_571 ... 17
X_572 ... 17
X_573 ... 17
X_574 ... 17
X_575 ... 17
X_576 ... 17
X_577 ... 17
X_578 ... 17
X_579 ... 17
X_580 ... 17
X_581 ... 17
X_582 ... 17
X_583 ... 17
X_584 ... 17
X_585 ... 17
X_586 ... 17
X_587 ... 17
X_588 ... 17
X_589 ... 17
X_590 ... 17
X_591 ... 17
X_592 ... 17
X_593 ... 17
X_594 ... 17
X_595 ... 17
X_596 ... 17
X_597 ... 17
X_598 ... 17
X_599 ... 17
X_605 ... 17
X_606 ... 17
X_607 ... 17
X_608 ... 17
X_609 ... 17
X_610 ... 17
X_611 ... 17
X_612 ... 17
X_613 ... 17
X_614 ... 17
X_615 ... 17
X_616 ... 17
X_617 ... 17
X_618 ... 17
X_619 ... 17
X_620 ... 17
X_621 ... 17
X_622 ... 17
X_623 ... 17
X_624 ... 17
X_625 ... 17
X_626 ... 17
X_627 ... 17
X_628 ... 17
X_629 ... 17
X_630 ... 17
X_631 ... 17
X_632 ... 17
X_633 ... 17
X_634 ... 17
X_635 ... 17
X_636 ... 17
X_637 ... 17
X_638 ... 17
X_639 ... 17
X_640 ... 17
X_641 ... 17
X_642 ... 17
X_643 ... 17
X_644 ... 17
X_645 ... 17
X_646 ... 17
X_647 ... 17
X_648 ... 17
X_649 ... 17
X_650 ... 17
X_652 ... 17
X_653 ... 17
X_654 ... 17
X_655 ... 17
X_656 ... 17
X_657 ... 17
X_658 ... 17
X_659 ... 17
X_660 ... 17
X_661 ... 17
X_662 ... 17
X_663 ... 17
X_664 ... 17
X_665 ... 17
X_666 ... 17
X_667 ... 17
X_668 ... 17
X_669 ... 17
X_670 ... 17
X_671 ... 17
X_672 ... 17
X_673 ... 17
X_674 ... 17
X_675 ... 17
X_676 ... 17
X_677 ... 17
X_678 ... 17
X_679 ... 17
X_680 ... 17
X_681 ... 17
X_682 ... 17
X_683 ... 17
X_684 ... 17
X_685 ... 17
X_686 ... 17
X_687 ... 17
X_688 ... 17
X_689 ... 17
X_690 ... 17
X_691 ... 17
X_692 ... 17
X_693 ... 17
X_694 ... 17
X_695 ... 17
X_700 ... 17
X_701 ... 17
X_702 ... 17
X_703 ... 17
X_704 ... 17
X_705 ... 17
X_706 ... 17
X_707 ... 17
X_708 ... 17
X_709 ... 17
X_710 ... 17
X_711 ... 17
X_712 ... 17
X_713 ... 17
X_714 ... 17
X_715 ... 17
X_716 ... 17
X_717 ... 17
X_718 ... 17
X_741 ... 17
X_742 ... 17
X_743 ... 17
X_744 ... 17
X_745 ... 17
X_746 ... 17
X_747 ... 17
X_748 ... 17
X_749 ... 17
X_750 ... 17
X_751 ... 17
X_752 ... 17
X_779 ... 17
X_780 ... 17
X_781 ... 17
X_782 ... 17
X_783 ... 17
X_784 ... 17
X_785 ... 17
X_786 ... 17
X_787 ... 17
X_788 ... 17
X_789 ... 17
X_790 ... 17
X_791 ... 17
X_792 ... 17
X_793 ... 17
X_794 ... 17
X_795 ... 17
X_796 ... 17
X_797 ... 17
X_798 ... 17
X_799 ... 17
X_800 ... 17
X_801 ... 17
X_802 ... 17
X_803 ... 17
X_804 ... 17
X_805 ... 17
X_806 ... 17
X_807 ... 17
X_808 ... 17
X_809 ... 17
X_810 ... 17
X_811 ... 17
X_812 ... 17
X_813 ... 17
X_814 ... 17
X_815 ... 17
X_816 ... 17
X_817 ... 17
X_818 ... 17
X_819 ... 17
X_820 ... 17
X_821 ... 17
X_822 ... 17
X_823 ... 17
X_824 ... 17
X_825 ... 17
X_826 ... 17
X_827 ... 17
X_828 ... 17
X_829 ... 17
X_830 ... 17
X_831 ... 17
X_832 ... 17
X_833 ... 17
X_834 ... 17
X_835 ... 17
X_836 ... 17
X_837 ... 17
X_838 ... 17
X_839 ... 17
X_840 ... 17
X_841 ... 17
X_842 ... 17
X_843 ... 17
X_844 ... 17
X_845 ... 17
X_846 ... 17
X_847 ... 17
X_848 ... 17
X_849 ... 17
X_850 ... 17
X_851 ... 17
X_852 ... 17
X_853 ... 17
X_854 ... 17
X_855 ... 17
X_856 ... 17
X_857 ... 17
X_858 ... 17
X_859 ... 17
X_860 ... 17
X_861 ... 17
X_862 ... 17
X_863 ... 17
X_864 ... 17
X_865 ... 17
X_866 ... 17
X_867 ... 17
X_868 ... 17
X_869 ... 17
X_870 ... 17
X_871 ... 17
X_872 ... 17
X_873 ... 17
X_874 ... 17
X_875 ... 17
X_876 ... 17
X_877 ... 17
X_878 ... 17
X_879 ... 17
X_880 ... 17
X_881 ... 17
X_890 ... 17
X_891 ... 17
X_892 ... 17
X_893 ... 17
X_894 ... 17
X_895 ... 17
X_896 ... 17
X_897 ... 17
X_902 ... 17
X_903 ... 17
X_904 ... 17
X_905 ... 17
X_906 ... 17
X_907 ... 17
X_908 ... 17
X_909 ... 17
X_910 ... 17
X_911 ... 17
X_912 ... 17
X_913 ... 17
X_914 ... 17
X_915 ... 17
X_916 ... 17
X_917 ... 17
X_918 ... 17
X_919 ... 17
X_920 ... 17
X_921 ... 17
X_922 ... 17
X_923 ... 17
X_924 ... 17
X_925 ... 17
X_926 ... 17
X_927 ... 17
X_928 ... 17
X_929 ... 17
X_930 ... 17
X_931 ... 17
X_932 ... 17
X_933 ... 17

## T100304 : C_1
- 대체 없음

- 최대 카운트 141

- 카운트 0 : 2204개 열
- 카운트 40 : 10개 열
- 카운트 1 : 5개 열

In [33]:
C_1_T100304 = C_1.loc[C_1.CODE_LINE == "T100304"]
C_1_T100304 = C_1_T100304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_T100304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-19 09:11:00,0.529362,2.0,97.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-19 23:31:00,0.532405,2.0,100.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-22 03:47:00,0.533110,2.0,100.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23 10:24:00,0.530948,2.0,97.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23 10:32:00,0.532219,2.0,99.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
C_1_T100304_des = pd.DataFrame({
    "COUNT" : C_1_T100304.count(),
    "MEAN" : C_1_T100304.mean(),
    "STD" : C_1_T100304.std(),
    "MIN" : C_1_T100304.min(),
    "Q1" : C_1_T100304.quantile(0.25),
    "Q2" : C_1_T100304.quantile(0.5),
    "Q3" : C_1_T100304.quantile(0.75),
    "MAX" : C_1_T100304.max()
})

C_1_T100304_des.COUNT.value_counts()

0      2204
141     657
40       10
1         5
Name: COUNT, dtype: int64

- 최대 카운트 141개 중에서 94개 이상인 각 X 변수에 각 평균으로 대체

In [35]:
C_1_T100304_des.loc[(C_1_T100304_des.COUNT >= 94) & (C_1_T100304_des.COUNT < 141)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## T100304 : C_2
- 대체 없음

- 최대 카운트 14

- 카운트 0 : 2209개 열
- 카운트 1 : 10개 열

In [36]:
C_2_T100304 = C_2.loc[C_2.CODE_LINE == "T100304"]
C_2_T100304 = C_2_T100304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_T100304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-24 09:08:00,0.545343,2.0,102.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-19 22:11:00,0.536275,1.0,97.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-22 08:39:00,0.535587,2.0,100.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-28 08:11:00,0.542144,2.0,100.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-29 12:32:00,0.545678,2.0,99.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
C_2_T100304_des = pd.DataFrame({
    "COUNT" : C_2_T100304.count(),
    "MEAN" : C_2_T100304.mean(),
    "STD" : C_2_T100304.std(),
    "MIN" : C_2_T100304.min(),
    "Q1" : C_2_T100304.quantile(0.25),
    "Q2" : C_2_T100304.quantile(0.5),
    "Q3" : C_2_T100304.quantile(0.75),
    "MAX" : C_2_T100304.max()
})

C_2_T100304_des.COUNT.value_counts()

0     2209
14     657
1       10
Name: COUNT, dtype: int64

- 최대 카운트 14개 중에서 9개 이상인 각 X 변수에 각 평균으로 대체

In [38]:
C_2_T100304_des.loc[(C_2_T100304_des.COUNT >= 9) & (C_2_T100304_des.COUNT < 14)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A010305 : C_0
- 대체 없음

- 최대 카운트 13

- 카운트 0 : 1994개 열
- 카운트 5 : 10개 열

In [39]:
C_0_A010305 = C_0.loc[C_0.CODE_LINE == "A010305"]
C_0_A010305 = C_0_A010305.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_0_A010305.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-19 20:26:00,0.521249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-25 21:38:00,0.524408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-07 15:40:00,0.523714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-07 17:24:00,0.521083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-08 13:55:00,0.518024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
C_0_A010305_des = pd.DataFrame({
    "COUNT" : C_0_A010305.count(),
    "MEAN" : C_0_A010305.mean(),
    "STD" : C_0_A010305.std(),
    "MIN" : C_0_A010305.min(),
    "Q1" : C_0_A010305.quantile(0.25),
    "Q2" : C_0_A010305.quantile(0.5),
    "Q3" : C_0_A010305.quantile(0.75),
    "MAX" : C_0_A010305.max()
})

C_0_A010305_des.COUNT.value_counts()

0     1994
13     872
5       10
Name: COUNT, dtype: int64

- 최대 카운트 13개 중에서 9개 이상인 각 X 변수에 각 평균으로 대체

In [41]:
C_0_A010305_des.loc[(C_0_A010305_des.COUNT >= 9) & (C_0_A010305_des.COUNT < 13)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A010305 : C_1
- 대체 없음

- 최대 카운트 35

- 카운트 0 : 1989개 열
- 카운트 15 : 10개 열
- 카운트 1 : 5개 열

In [42]:
C_1_A010305 = C_1.loc[C_1.CODE_LINE == "A010305"]
C_1_A010305 = C_1_A010305.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_A010305.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-21 07:14:00,0.526656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-22 04:45:00,0.531583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-22 12:26:00,0.530829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-22 12:34:00,0.528270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23 15:50:00,0.533273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
C_1_A010305_des = pd.DataFrame({
    "COUNT" : C_1_A010305.count(),
    "MEAN" : C_1_A010305.mean(),
    "STD" : C_1_A010305.std(),
    "MIN" : C_1_A010305.min(),
    "Q1" : C_1_A010305.quantile(0.25),
    "Q2" : C_1_A010305.quantile(0.5),
    "Q3" : C_1_A010305.quantile(0.75),
    "MAX" : C_1_A010305.max()
})

C_1_A010305_des.COUNT.value_counts()

0     1989
35     872
15      10
1        5
Name: COUNT, dtype: int64

- 최대 카운트 35개 중에서 23개 이상인 각 X 변수에 각 평균으로 대체

In [44]:
C_1_A010305_des.loc[(C_1_A010305_des.COUNT >= 23) & (C_1_A010305_des.COUNT < 35)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A010305 : C_2
- 대체 없음

- 최대 카운트 11

- 카운트 0 : 1994개 열
- 카운트 6 : 10개 열

In [45]:
C_2_A010305 = C_2.loc[C_2.CODE_LINE == "A010305"]
C_2_A010305 = C_2_A010305.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_A010305.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-24 04:13:00,0.555514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-24 21:38:00,0.535741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-24 21:46:00,0.537122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-24 22:39:00,0.536859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-03 10:39:00,0.536433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
C_2_A010305_des = pd.DataFrame({
    "COUNT" : C_2_A010305.count(),
    "MEAN" : C_2_A010305.mean(),
    "STD" : C_2_A010305.std(),
    "MIN" : C_2_A010305.min(),
    "Q1" : C_2_A010305.quantile(0.25),
    "Q2" : C_2_A010305.quantile(0.5),
    "Q3" : C_2_A010305.quantile(0.75),
    "MAX" : C_2_A010305.max()
})

C_2_A010305_des.COUNT.value_counts()

0     1994
11     872
6       10
Name: COUNT, dtype: int64

- 최대 카운트 11개 중에서 7개 이상인 각 X 변수에 각 평균으로 대체

In [47]:
C_2_A010305_des.loc[(C_2_A010305_des.COUNT >= 7) & (C_2_A010305_des.COUNT < 11)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A010306 : C_0
- 대체 없음

- 최대 카운트 6

- 카운트 0 : 1994개 열
- 카운트 3 : 10개 열

In [48]:
C_0_A010306 = C_0.loc[C_0.CODE_LINE == "A010306"]
C_0_A010306 = C_0_A010306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_0_A010306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-26 03:54:00,0.513135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-26 04:02:00,0.517938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-29 17:07:00,0.524183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-30 15:36:00,0.522121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-02 23:26:00,0.524487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
C_0_A010306_des = pd.DataFrame({
    "COUNT" : C_0_A010306.count(),
    "MEAN" : C_0_A010306.mean(),
    "STD" : C_0_A010306.std(),
    "MIN" : C_0_A010306.min(),
    "Q1" : C_0_A010306.quantile(0.25),
    "Q2" : C_0_A010306.quantile(0.5),
    "Q3" : C_0_A010306.quantile(0.75),
    "MAX" : C_0_A010306.max()
})

C_0_A010306_des.COUNT.value_counts()

0    1994
6     872
3      10
Name: COUNT, dtype: int64

- 최대 카운트 6개 중에서 4개 이상인 각 X 변수에 각 평균으로 대체

In [50]:
C_0_A010306_des.loc[(C_0_A010306_des.COUNT >= 4) & (C_0_A010306_des.COUNT < 6)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A010306 : C_1
- 대체 없음

- 최대 카운트 37

- 카운트 0 : 1994개 열
- 카운트 14 : 10개 열

In [51]:
C_1_A010306 = C_1.loc[C_1.CODE_LINE == "A010306"]
C_1_A010306 = C_1_A010306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_A010306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-23 15:42:00,0.533230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-26 06:14:00,0.526997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 08:15:00,0.527735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01 07:54:00,0.525221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-02 19:33:00,0.529202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
C_1_A010306_des = pd.DataFrame({
    "COUNT" : C_1_A010306.count(),
    "MEAN" : C_1_A010306.mean(),
    "STD" : C_1_A010306.std(),
    "MIN" : C_1_A010306.min(),
    "Q1" : C_1_A010306.quantile(0.25),
    "Q2" : C_1_A010306.quantile(0.5),
    "Q3" : C_1_A010306.quantile(0.75),
    "MAX" : C_1_A010306.max()
})

C_1_A010306_des.COUNT.value_counts()

0     1994
37     872
14      10
Name: COUNT, dtype: int64

- 최대 카운트 37개 중에서 24개 이상인 각 X 변수에 각 평균으로 대체

In [53]:
C_1_A010306_des.loc[(C_1_A010306_des.COUNT >= 24) & (C_1_A010306_des.COUNT < 37)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A010306 : C_2
- 대체 없음

- 최대 카운트 27

- 카운트 0 : 1989개 열
- 카운트 27 : 872개 열
- 카운트 13 : 10개 열
- 카운트 1 : 5개 열

In [54]:
C_2_A010306 = C_2.loc[C_2.CODE_LINE == "A010306"]
C_2_A010306 = C_2_A010306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_A010306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-19 20:18:00,0.540002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-20 21:55:00,0.536206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-21 07:06:00,0.548592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-22 04:37:00,0.536616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-24 04:05:00,0.547184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
C_2_A010306_des = pd.DataFrame({
    "COUNT" : C_2_A010306.count(),
    "MEAN" : C_2_A010306.mean(),
    "STD" : C_2_A010306.std(),
    "MIN" : C_2_A010306.min(),
    "Q1" : C_2_A010306.quantile(0.25),
    "Q2" : C_2_A010306.quantile(0.5),
    "Q3" : C_2_A010306.quantile(0.75),
    "MAX" : C_2_A010306.max()
})

C_2_A010306_des.COUNT.value_counts()

0     1989
27     872
13      10
1        5
Name: COUNT, dtype: int64

- 최대 카운트 27개 중에서 18개 이상인 각 X 변수에 각 평균으로 대체

In [56]:
C_2_A010306_des.loc[(C_2_A010306_des.COUNT >= 18) & (C_2_A010306_des.COUNT < 27)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## T100306 : C_0
- 대체 없음

- 최대 카운트 11

- 카운트 0 : 2209개 열
- 카운트 11 : 657개 열
- 카운트 1 : 10개 열

In [57]:
C_0_T100306 = C_0.loc[C_0.CODE_LINE == "T100306"]
C_0_T100306 = C_0_T100306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_0_T100306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-07-05 23:31:00,0.525003,2.0,93.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-23 17:30:00,0.523459,2.0,95.0,0.0,45.0,10.0,0.0,53.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-24 02:07:00,0.524503,1.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-01 03:08:00,0.524757,2.0,91.0,0.0,45.0,10.0,0.0,57.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-15 00:07:00,0.524327,2.0,87.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
C_0_T100306_des = pd.DataFrame({
    "COUNT" : C_0_T100306.count(),
    "MEAN" : C_0_T100306.mean(),
    "STD" : C_0_T100306.std(),
    "MIN" : C_0_T100306.min(),
    "Q1" : C_0_T100306.quantile(0.25),
    "Q2" : C_0_T100306.quantile(0.5),
    "Q3" : C_0_T100306.quantile(0.75),
    "MAX" : C_0_T100306.max()
})

C_0_T100306_des.COUNT.value_counts()

0     2209
11     657
1       10
Name: COUNT, dtype: int64

- 최대 카운트 11개 중에서 7개 이상인 각 X 변수에 각 평균으로 대체

In [59]:
C_0_T100306_des.loc[(C_0_T100306_des.COUNT >= 7) & (C_0_T100306_des.COUNT < 11)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## T100306 : C_1
- 대체 없음

- 최대 카운트 144

- 카운트 0 : 2204개 열
- 카운트 36 : 10개 열
- 카운트 7 : 5개 열

In [60]:
C_1_T100306 = C_1.loc[C_1.CODE_LINE == "T100306"]
C_1_T100306 = C_1_T100306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_T100306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-19 09:20:00,0.531992,2.0,95.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-19 23:39:00,0.528646,2.0,88.0,0.0,45.0,10.0,0.0,51.0,11.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-22 03:39:00,0.529633,2.0,91.0,0.0,45.0,10.0,0.0,60.0,11.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23 03:39:00,0.530965,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23 06:28:00,0.529498,2.0,95.0,0.0,45.0,10.0,0.0,57.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
C_1_T100306_des = pd.DataFrame({
    "COUNT" : C_1_T100306.count(),
    "MEAN" : C_1_T100306.mean(),
    "STD" : C_1_T100306.std(),
    "MIN" : C_1_T100306.min(),
    "Q1" : C_1_T100306.quantile(0.25),
    "Q2" : C_1_T100306.quantile(0.5),
    "Q3" : C_1_T100306.quantile(0.75),
    "MAX" : C_1_T100306.max()
})

C_1_T100306_des.COUNT.value_counts()

0      2204
144     657
36       10
7         5
Name: COUNT, dtype: int64

- 최대 카운트 144개 중에서 96개 이상인 각 X 변수에 각 평균으로 대체

In [62]:
C_1_T100306_des.loc[(C_1_T100306_des.COUNT >= 96) & (C_1_T100306_des.COUNT < 144)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## T100306 : C_2
- 대체 없음

- 최대 카운트 16
- 카운트 0 : 2209개 열
- 카운트 1 : 10개 열

In [63]:
C_2_T100306 = C_2.loc[C_2.CODE_LINE == "T100306"]
C_2_T100306 = C_2_T100306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_T100306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-07-11 11:35:00,0.547902,2.0,91.0,0.0,45.0,10.0,0.0,53.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-20 11:02:00,0.535403,4.0,96.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-23 10:40:00,0.537060,2.0,94.0,0.0,45.0,10.0,0.0,53.0,11.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-25 02:15:00,0.536183,2.0,96.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-29 10:52:00,0.535622,2.0,93.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
C_2_T100306_des = pd.DataFrame({
    "COUNT" : C_2_T100306.count(),
    "MEAN" : C_2_T100306.mean(),
    "STD" : C_2_T100306.std(),
    "MIN" : C_2_T100306.min(),
    "Q1" : C_2_T100306.quantile(0.25),
    "Q2" : C_2_T100306.quantile(0.5),
    "Q3" : C_2_T100306.quantile(0.75),
    "MAX" : C_2_T100306.max()
})

C_2_T100306_des.COUNT.value_counts()

0     2209
16     657
1       10
Name: COUNT, dtype: int64

- 최대 카운트 16개 중에서 10개 이상인 각 X 변수에 각 평균으로 대체

In [65]:
C_2_T100306_des.loc[(C_2_T100306_des.COUNT >= 10) & (C_2_T100306_des.COUNT < 16)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

## A050307 : C_0
- 최대 카운트 11

- 카운트 0 : 970개 열
- 카운트 3 : 422개 열
- 카운트 6 : 1개 열

In [66]:
C_0_A050307 = C_0.loc[C_0.CODE_LINE == "A050307"]
C_0_A050307 = C_0_A050307.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_0_A050307.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-07-31 00:46:00,0.522368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.23,63.10,60.41,58.94,64.95,1.0,NaN,NaN,NaN,NaN
2022-07-31 02:25:00,0.523383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.82,61.50,56.62,57.87,67.22,1.0,NaN,NaN,NaN,NaN
2022-07-31 06:26:00,0.524551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.40,59.90,56.30,56.83,62.83,1.0,NaN,NaN,NaN,NaN
2022-08-16 12:11:00,0.524781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.95,56.81,42.61,57.01,65.67,1.0,NaN,NaN,NaN,NaN
2022-08-25 07:52:00,0.515884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.37,58.32,49.10,53.29,62.48,1.0,NaN,NaN,NaN,NaN

In [67]:
C_0_A050307_des = pd.DataFrame({
    "COUNT" : C_0_A050307.count(),
    "MEAN" : C_0_A050307.mean(),
    "STD" : C_0_A050307.std(),
    "MIN" : C_0_A050307.min(),
    "Q1" : C_0_A050307.quantile(0.25),
    "Q2" : C_0_A050307.quantile(0.5),
    "Q3" : C_0_A050307.quantile(0.75),
    "MAX" : C_0_A050307.max()
})

C_0_A050307_des.COUNT.value_counts()

11    1456
0      970
3      422
10      27
6        1
Name: COUNT, dtype: int64

- 최대 카운트 11개 중에서 7개 이상인 각 X 변수에 각 평균으로 대체

In [68]:
C_0_A050307_des.loc[(C_0_A050307_des.COUNT >= 7) & (C_0_A050307_des.COUNT < 11)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_1174,10,1.140000,2.366432e-01,1.000000,1.025000,1.100000,1.100000,1.800000
X_1951,10,0.168490,2.026190e-03,0.166000,0.167275,0.167750,0.170250,0.171600
X_1952,10,0.000017,1.563081e-06,0.000013,0.000017,0.000018,0.000018,0.000019
X_1953,10,0.000227,2.520163e-05,0.000189,0.000203,0.000240,0.000244,0.000247
X_1954,10,0.000138,1.522374e-05,0.000107,0.000129,0.000145,0.000146,0.000159
X_1955,10,0.000041,3.721126e-06,0.000036,0.000038,0.000041,0.000044,0.000048
X_1956,10,0.000007,8.808582e-07,0.000006,0.000007,0.000007,0.000008,0.000009
X_1957,10,82.900000,5.363457e+00,71.000000,84.250000,85.000000,85.750000,87.000000
X_1958,10,53.030000,1.418074e+00,50.820000,52.467500,53.200000,53.392500,55.250000
X_1959,10,56.905000,3.915474e+00,51.050000,53.770000,56.905000,59.505000,63.100000
X_1960,10,53.504000,5.512939e+00,42.610000,49.890000,55.245000,56.540000,60.410000
X_1961,10,55.624000,3.454125e+00,48.860000,54.147500,56.920000,57.685000,58.940000
X_1962,10,63.993000,1.527336e+00,62.480000,62.942500,63.310000,64.780000,67.220000
X_1963,10,0.170913,2.227574e-03,0.167222,0.170114,0.170650,0.172000,0.174300
X_1964,10,0.000015,3.998789e-06,0.000008,0.000013,0.000017,0.000018,0.000020
X_1965,10,0.000232,2.563373e-05,0.000188,0.000211,0.000245,0.000250,0.000254
X_1966,10,0.000093,1.248956e-05,0.000069,0.000084,0.000097,0.000100,0.000107
X_1967,10,0.000012,9.216531e-07,0.000011,0.000012,0.000012,0.000013,0.000014
X_1968,10,0.000005,8.582599e-07,0.000004,0.000005,0.000005,0.000005,0.000007
X_2041,10,0.094834,6.725771e-04,0.093000,0.095000,0.095000,0.095000,0.095340
X_2042,10,0.096360,1.075174e-03,0.093300,0.096700,0.096700,0.096700,0.096700
X_2043,10,0.092970,1.043552e-03,0.090000,0.093300,0.093300,0.093300,0.093300
X_2866,10,53.030000,1.418074e+00,50.820000,52.467500,53.200000,53.392500,55.250000
X_2867,10,56.905000,3.915474e+00,51.050000,53.770000,56.905000,59.505000,63.100000
X_2868,10,53.504000,5.512939e+00,42.610000,49.890000,55.245000,56.540000,60.410000
X_2869,10,55.624000,3.454125e+00,48.860000,54.147500,56.920000,57.685000,58.940000
X_2870,10,63.993000,1.527336e+00,62.480000,62.942500,63.310000,64.780000,67.220000

In [69]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_0_A050307_7_11.txt', 'w', encoding='UTF-8') as f:
    for name in C_0_A050307_des.loc[(C_0_A050307_des.COUNT >= 7) & (C_0_A050307_des.COUNT < 11)].index:
        f.write(name+'\n')

In [70]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_0_A050307_7_11.txt','r')
C_0_A050307_7_11 = f.read()
f.close()
C_0_A050307_7_11

'X_1174\nX_1951\nX_1952\nX_1953\nX_1954\nX_1955\nX_1956\nX_1957\nX_1958\nX_1959\nX_1960\nX_1961\nX_1962\nX_1963\nX_1964\nX_1965\nX_1966\nX_1967\nX_1968\nX_2041\nX_2042\nX_2043\nX_2866\nX_2867\nX_2868\nX_2869\nX_2870\n'

In [71]:
cols = ['X_1174','X_1951','X_1952','X_1953','X_1954','X_1955','X_1956','X_1957','X_1958','X_1959','X_1960','X_1961','X_1962','X_1963','X_1964','X_1965','X_1966','X_1967','X_1968','X_2041','X_2042','X_2043','X_2866','X_2867','X_2868','X_2869','X_2870']

In [72]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050307")] = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050307")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050307")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050307")].count()
    print("{} ... {}".format(col, a))

X_1174 ... 11
X_1951 ... 11
X_1952 ... 11
X_1953 ... 11
X_1954 ... 11
X_1955 ... 11
X_1956 ... 11
X_1957 ... 11
X_1958 ... 11
X_1959 ... 11
X_1960 ... 11
X_1961 ... 11
X_1962 ... 11
X_1963 ... 11
X_1964 ... 11
X_1965 ... 11
X_1966 ... 11
X_1967 ... 11
X_1968 ... 11
X_2041 ... 11
X_2042 ... 11
X_2043 ... 11
X_2866 ... 11
X_2867 ... 11
X_2868 ... 11
X_2869 ... 11
X_2870 ... 11

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\166456343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050307")] = train_df[col].loc[(train_df.Y_Class == 0) & (train_df.CODE_LINE == "A050307")].fillna(

## A050307 : C_1
- 최대 카운트 9

- 카운트 0 : 900개 열
- 카운트 1 : 492개 열
- 카운트 4 : 1개 열

In [73]:
C_1_A050307 = C_1.loc[C_1.CODE_LINE == "A050307"]
C_1_A050307 = C_1_A050307.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_A050307.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-21 17:44:00,0.527976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2022-08-03 01:20:00,0.534843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2022-08-12 08:35:00,0.532386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.40,59.57,42.58,57.58,64.90,1.0,NaN,NaN,NaN,NaN
2022-08-13 14:21:00,0.527944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.18,53.54,47.58,53.70,61.95,1.0,NaN,NaN,NaN,NaN
2022-08-14 12:30:00,0.525086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.69,53.03,53.75,58.96,64.01,1.0,NaN,NaN,NaN,NaN

In [74]:
C_1_A050307_des = pd.DataFrame({
    "COUNT" : C_1_A050307.count(),
    "MEAN" : C_1_A050307.mean(),
    "STD" : C_1_A050307.std(),
    "MIN" : C_1_A050307.min(),
    "Q1" : C_1_A050307.quantile(0.25),
    "Q2" : C_1_A050307.quantile(0.5),
    "Q3" : C_1_A050307.quantile(0.75),
    "MAX" : C_1_A050307.max()
})

C_1_A050307_des.COUNT.value_counts()

9    1453
0     900
1     492
7      26
6       3
8       1
4       1
Name: COUNT, dtype: int64

- 최대 카운트 9개 중에서 6개 이상인 각 X 변수에 각 평균으로 대체

In [75]:
C_1_A050307_des.loc[(C_1_A050307_des.COUNT >= 6) & (C_1_A050307_des.COUNT < 9)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_990,6,163.833333,4.082483e-01,163.000000,164.000000,164.000000,164.000000,164.000000
X_991,6,114166.666667,1.417627e+04,101000.000000,102000.000000,111000.000000,127500.000000,130000.000000
X_1174,8,1.012500,8.345230e-02,0.900000,0.975000,1.000000,1.100000,1.100000
X_1175,6,11.833333,4.082483e-01,11.000000,12.000000,12.000000,12.000000,12.000000
X_1951,7,0.164748,1.654685e-03,0.162200,0.164150,0.164400,0.165568,0.167200
X_1952,7,0.000014,4.212437e-06,0.000006,0.000013,0.000016,0.000017,0.000018
X_1953,7,0.000235,9.478879e-06,0.000219,0.000230,0.000236,0.000242,0.000246
X_1954,7,0.000081,4.466127e-05,0.000044,0.000046,0.000047,0.000125,0.000135
X_1955,7,0.000037,3.545621e-06,0.000030,0.000035,0.000037,0.000039,0.000040
X_1956,7,0.000008,6.466691e-07,0.000006,0.000007,0.000007,0.000008,0.000008
X_1957,7,74.571429,1.653136e+01,51.000000,69.500000,70.000000,80.000000,102.000000
X_1958,7,53.967143,1.430731e+00,52.280000,52.790000,53.640000,55.290000,55.690000
X_1959,7,55.805714,2.717179e+00,53.030000,53.320000,56.240000,57.580000,59.570000
X_1960,7,51.238571,4.956307e+00,42.580000,48.715000,53.140000,54.110000,57.300000
X_1961,7,55.907143,2.865744e+00,50.560000,55.000000,56.590000,57.620000,58.960000
X_1962,7,64.198571,1.815071e+00,61.950000,62.835000,64.010000,65.465000,66.830000
X_1963,7,0.167529,1.789520e-03,0.164100,0.167150,0.167500,0.168500,0.169800
X_1964,7,0.000013,5.481313e-06,0.000006,0.000009,0.000017,0.000017,0.000018
X_1965,7,0.000243,9.397847e-06,0.000229,0.000236,0.000244,0.000250,0.000254
X_1966,7,0.000061,2.678927e-05,0.000038,0.000039,0.000043,0.000087,0.000093
X_1967,7,0.000011,1.167031e-06,0.000009,0.000010,0.000010,0.000011,0.000013
X_1968,7,0.000006,8.244767e-07,0.000005,0.000005,0.000006,0.000006,0.000007
X_2041,7,0.094301,1.231147e-03,0.091650,0.094320,0.094660,0.095000,0.095155
X_2042,7,0.096214,1.285079e-03,0.093300,0.096700,0.096700,0.096700,0.096700
X_2043,7,0.092829,1.247283e-03,0.090000,0.093300,0.093300,0.093300,0.093300
X_2866,7,53.967143,1.430731e+00,52.280000,52.790000,53.640000,55.290000,55.690000
X_2867,7,55.805714,2.717179e+00,53.030000,53.320000,56.240000,57.580000,59.570000
X_2868,7,51.238571,4.956307e+00,42.580000,48.715000,53.140000,54.110000,57.300000
X_2869,7,55.907143,2.865744e+00,50.560000,55.000000,56.590000,57.620000,58.960000
X_2870,7,64.198571,1.815071e+00,61.950000,62.835000,64.010000,65.465000,66.830000

In [76]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_1_A050307_6_9.txt', 'w', encoding='UTF-8') as f:
    for name in C_1_A050307_des.loc[(C_1_A050307_des.COUNT >= 6) & (C_1_A050307_des.COUNT < 9)].index:
        f.write(name+'\n')

In [77]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_1_A050307_6_9.txt','r')
C_1_A050307_6_9 = f.read()
f.close()
C_1_A050307_6_9

'X_990\nX_991\nX_1174\nX_1175\nX_1951\nX_1952\nX_1953\nX_1954\nX_1955\nX_1956\nX_1957\nX_1958\nX_1959\nX_1960\nX_1961\nX_1962\nX_1963\nX_1964\nX_1965\nX_1966\nX_1967\nX_1968\nX_2041\nX_2042\nX_2043\nX_2866\nX_2867\nX_2868\nX_2869\nX_2870\n'

In [78]:
cols = ['X_990','X_991','X_1174','X_1175','X_1951','X_1952','X_1953','X_1954','X_1955','X_1956','X_1957','X_1958','X_1959','X_1960','X_1961','X_1962','X_1963','X_1964','X_1965','X_1966','X_1967','X_1968','X_2041','X_2042','X_2043','X_2866','X_2867','X_2868','X_2869','X_2870']

In [79]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050307")] = train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050307")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050307")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050307")].count()
    print("{} ... {}".format(col, a))

X_990 ... 9
X_991 ... 9
X_1174 ... 9
X_1175 ... 9
X_1951 ... 9
X_1952 ... 9
X_1953 ... 9
X_1954 ... 9
X_1955 ... 9
X_1956 ... 9
X_1957 ... 9
X_1958 ... 9
X_1959 ... 9
X_1960 ... 9
X_1961 ... 9
X_1962 ... 9
X_1963 ... 9
X_1964 ... 9
X_1965 ... 9
X_1966 ... 9
X_1967 ... 9
X_1968 ... 9
X_2041 ... 9
X_2042 ... 9
X_2043 ... 9
X_2866 ... 9
X_2867 ... 9
X_2868 ... 9
X_2869 ... 9
X_2870 ... 9

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\4160644616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050307")] = train_df[col].loc[(train_df.Y_Class == 1) & (train_df.CODE_LINE == "A050307")].fillna(

## A050307 : C_2
- 최대 카운트 22

- 카운트 0 : 900개 열
- 카운트 13 : 70개 열
- 카운트 12 : 1개 열

In [80]:
C_2_A050307 = C_2.loc[C_2.CODE_LINE == "A050307"]
C_2_A050307 = C_2_A050307.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_A050307.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:22:00,0.541819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,0.537325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:55:00,0.537833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.16,51.25,56.01,37.41,71.37,NaN,NaN,NaN,NaN,NaN
2022-06-13 06:11:00,0.540003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.00,35.95,59.51,30.49,72.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 06:28:00,0.538049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.40,35.88,50.36,38.45,71.42,NaN,NaN,NaN,NaN,NaN

In [81]:
C_2_A050307_des = pd.DataFrame({
    "COUNT" : C_2_A050307.count(),
    "MEAN" : C_2_A050307.mean(),
    "STD" : C_2_A050307.std(),
    "MIN" : C_2_A050307.min(),
    "Q1" : C_2_A050307.quantile(0.25),
    "Q2" : C_2_A050307.quantile(0.5),
    "Q3" : C_2_A050307.quantile(0.75),
    "MAX" : C_2_A050307.max()
})

C_2_A050307_des.COUNT.value_counts()

22    1455
0      900
19     422
13      70
16      27
18       1
12       1
Name: COUNT, dtype: int64

- 최대 카운트 22개 중에서 14개 이상인 각 X 변수에 각 평균으로 대체

In [82]:
C_2_A050307_des.loc[(C_2_A050307_des.COUNT >= 14) & (C_2_A050307_des.COUNT < 22)]

,COUNT,MEAN,STD,MIN,Q1,Q2,Q3,MAX
X_1408,18,31.671985,23.409295,-0.554926,13.985484,31.000000,40.723773,78.000000
X_1540,16,438.215289,326.559204,74.386555,301.449731,370.134728,438.705552,1428.936516
X_1951,16,0.170750,0.001942,0.165800,0.170275,0.170750,0.172100,0.173800
X_1952,16,0.000016,0.000005,0.000006,0.000016,0.000016,0.000017,0.000026
X_1953,16,0.000187,0.000010,0.000176,0.000183,0.000184,0.000187,0.000211
...,...,...,...,...,...,...,...,...
X_2866,16,44.895000,9.191007,33.160000,38.127500,39.790000,54.077500,59.380000
X_2867,16,47.978750,11.592351,33.260000,35.932500,47.890000,57.290000,68.660000
X_2868,16,50.396250,7.451966,40.970000,41.955000,51.265000,56.807500,59.640000
X_2869,16,44.506875,11.363043,30.490000,35.297500,39.395000,56.375000,59.420000
X_2870,16,69.230625,3.684317,63.400000,65.660000,71.385000,72.460000,72.770000

In [83]:
with open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_2_A050307_14_22.txt', 'w', encoding='UTF-8') as f:
    for name in C_2_A050307_des.loc[(C_2_A050307_des.COUNT >= 14) & (C_2_A050307_des.COUNT < 22)].index:
        f.write(name+'\n')

In [84]:
f = open('C:\\VSC\\LG_Aimers\\2_2_Xn_txt\\C_2_A050307_14_22.txt','r')
C_2_A050307_14_22 = f.read()
f.close()
C_2_A050307_14_22

'X_1408\nX_1540\nX_1951\nX_1952\nX_1953\nX_1954\nX_1955\nX_1956\nX_1957\nX_1958\nX_1959\nX_1960\nX_1961\nX_1962\nX_1963\nX_1964\nX_1965\nX_1966\nX_1967\nX_1968\nX_2041\nX_2042\nX_2043\nX_2063\nX_2064\nX_2065\nX_2066\nX_2067\nX_2068\nX_2070\nX_2071\nX_2072\nX_2073\nX_2074\nX_2075\nX_2076\nX_2078\nX_2079\nX_2080\nX_2081\nX_2082\nX_2083\nX_2084\nX_2086\nX_2087\nX_2088\nX_2089\nX_2090\nX_2091\nX_2100\nX_2101\nX_2102\nX_2103\nX_2104\nX_2105\nX_2106\nX_2107\nX_2108\nX_2109\nX_2110\nX_2111\nX_2112\nX_2113\nX_2114\nX_2115\nX_2116\nX_2117\nX_2118\nX_2119\nX_2120\nX_2121\nX_2122\nX_2123\nX_2124\nX_2125\nX_2126\nX_2127\nX_2128\nX_2129\nX_2130\nX_2131\nX_2132\nX_2133\nX_2134\nX_2135\nX_2136\nX_2137\nX_2138\nX_2139\nX_2140\nX_2141\nX_2142\nX_2143\nX_2144\nX_2145\nX_2146\nX_2147\nX_2148\nX_2149\nX_2150\nX_2151\nX_2152\nX_2153\nX_2154\nX_2155\nX_2156\nX_2157\nX_2158\nX_2159\nX_2160\nX_2161\nX_2162\nX_2163\nX_2164\nX_2165\nX_2166\nX_2167\nX_2168\nX_2169\nX_2170\nX_2171\nX_2172\nX_2173\nX_2174\nX_2175\nX_2176\nX_2177\nX_2178\nX_2179\nX_2180\nX_2181\nX_2182\nX_2183\nX_2184\nX_2185\nX_2186\nX_2187\nX_2188\nX_2189\nX_2190\nX_2191\nX_2192\nX_2193\nX_2194\nX_2195\nX_2196\nX_2197\nX_2198\nX_2199\nX_2200\nX_2201\nX_2202\nX_2203\nX_2204\nX_2205\nX_2206\nX_2207\nX_2208\nX_2209\nX_2210\nX_2211\nX_2212\nX_2213\nX_2214\nX_2215\nX_2216\nX_2217\nX_2218\nX_2219\nX_2220\nX_2221\nX_2222\nX_2223\nX_2224\nX_2225\nX_2226\nX_2227\nX_2228\nX_2229\nX_2230\nX_2231\nX_2232\nX_2233\nX_2234\nX_2235\nX_2236\nX_2237\nX_2238\nX_2239\nX_2240\nX_2241\nX_2242\nX_2243\nX_2244\nX_2245\nX_2246\nX_2247\nX_2248\nX_2249\nX_2250\nX_2251\nX_2252\nX_2253\nX_2254\nX_2255\nX_2256\nX_2257\nX_2258\nX_2259\nX_2260\nX_2261\nX_2262\nX_2263\nX_2264\nX_2265\nX_2266\nX_2267\nX_2268\nX_2269\nX_2270\nX_2271\nX_2272\nX_2273\nX_2274\nX_2275\nX_2276\nX_2277\nX_2278\nX_2279\nX_2280\nX_2281\nX_2282\nX_2283\nX_2284\nX_2285\nX_2286\nX_2287\nX_2288\nX_2289\nX_2290\nX_2291\nX_2292\nX_2293\nX_2294\nX_2295\nX_2296\nX_2297\nX_2298\nX_2299\nX_2300\nX_2301\nX_2302\nX_2303\nX_2304\nX_2305\nX_2306\nX_2307\nX_2308\nX_2309\nX_2310\nX_2311\nX_2312\nX_2313\nX_2314\nX_2315\nX_2316\nX_2317\nX_2318\nX_2319\nX_2320\nX_2321\nX_2322\nX_2323\nX_2324\nX_2325\nX_2326\nX_2327\nX_2328\nX_2329\nX_2330\nX_2331\nX_2332\nX_2333\nX_2334\nX_2335\nX_2336\nX_2337\nX_2338\nX_2339\nX_2340\nX_2341\nX_2342\nX_2343\nX_2344\nX_2345\nX_2346\nX_2347\nX_2348\nX_2349\nX_2350\nX_2351\nX_2352\nX_2353\nX_2354\nX_2355\nX_2356\nX_2357\nX_2358\nX_2359\nX_2360\nX_2361\nX_2362\nX_2363\nX_2364\nX_2365\nX_2366\nX_2367\nX_2368\nX_2369\nX_2370\nX_2371\nX_2372\nX_2373\nX_2374\nX_2375\nX_2376\nX_2377\nX_2378\nX_2379\nX_2380\nX_2381\nX_2382\nX_2383\nX_2384\nX_2385\nX_2386\nX_2387\nX_2388\nX_2389\nX_2390\nX_2391\nX_2392\nX_2393\nX_2394\nX_2395\nX_2396\nX_2397\nX_2398\nX_2399\nX_2400\nX_2401\nX_2402\nX_2403\nX_2404\nX_2405\nX_2406\nX_2407\nX_2540\nX_2541\nX_2542\nX_2543\nX_2544\nX_2545\nX_2546\nX_2547\nX_2548\nX_2549\nX_2550\nX_2551\nX_2552\nX_2553\nX_2554\nX_2555\nX_2556\nX_2557\nX_2558\nX_2559\nX_2560\nX_2561\nX_2562\nX_2563\nX_2564\nX_2565\nX_2566\nX_2567\nX_2568\nX_2569\nX_2570\nX_2571\nX_2572\nX_2573\nX_2574\nX_2575\nX_2576\nX_2577\nX_2578\nX_2579\nX_2580\nX_2581\nX_2582\nX_2583\nX_2584\nX_2585\nX_2586\nX_2587\nX_2588\nX_2589\nX_2590\nX_2591\nX_2592\nX_2593\nX_2594\nX_2595\nX_2596\nX_2597\nX_2598\nX_2599\nX_2600\nX_2601\nX_2602\nX_2603\nX_2604\nX_2605\nX_2606\nX_2607\nX_2608\nX_2609\nX_2610\nX_2611\nX_2612\nX_2613\nX_2614\nX_2615\nX_2616\nX_2617\nX_2618\nX_2619\nX_2620\nX_2621\nX_2622\nX_2623\nX_2624\nX_2625\nX_2626\nX_2627\nX_2866\nX_2867\nX_2868\nX_2869\nX_2870\n'

In [85]:
cols = ['X_1408','X_1540','X_1951','X_1952','X_1953','X_1954','X_1955','X_1956','X_1957','X_1958','X_1959','X_1960','X_1961','X_1962','X_1963','X_1964','X_1965','X_1966','X_1967','X_1968','X_2041','X_2042','X_2043','X_2063','X_2064','X_2065','X_2066','X_2067','X_2068','X_2070','X_2071','X_2072','X_2073','X_2074','X_2075','X_2076','X_2078','X_2079','X_2080','X_2081','X_2082','X_2083','X_2084','X_2086','X_2087','X_2088','X_2089','X_2090','X_2091','X_2100','X_2101','X_2102','X_2103','X_2104','X_2105','X_2106','X_2107','X_2108','X_2109','X_2110','X_2111','X_2112','X_2113','X_2114','X_2115','X_2116','X_2117','X_2118','X_2119','X_2120','X_2121','X_2122','X_2123','X_2124','X_2125','X_2126','X_2127','X_2128','X_2129','X_2130','X_2131','X_2132','X_2133','X_2134','X_2135','X_2136','X_2137','X_2138','X_2139','X_2140','X_2141','X_2142','X_2143','X_2144','X_2145','X_2146','X_2147','X_2148','X_2149','X_2150','X_2151','X_2152','X_2153','X_2154','X_2155','X_2156','X_2157','X_2158','X_2159','X_2160','X_2161','X_2162','X_2163','X_2164','X_2165','X_2166','X_2167','X_2168','X_2169','X_2170','X_2171','X_2172','X_2173','X_2174','X_2175','X_2176','X_2177','X_2178','X_2179','X_2180','X_2181','X_2182','X_2183','X_2184','X_2185','X_2186','X_2187','X_2188','X_2189','X_2190','X_2191','X_2192','X_2193','X_2194','X_2195','X_2196','X_2197','X_2198','X_2199','X_2200','X_2201','X_2202','X_2203','X_2204','X_2205','X_2206','X_2207','X_2208','X_2209','X_2210','X_2211','X_2212','X_2213','X_2214','X_2215','X_2216','X_2217','X_2218','X_2219','X_2220','X_2221','X_2222','X_2223','X_2224','X_2225','X_2226','X_2227','X_2228','X_2229','X_2230','X_2231','X_2232','X_2233','X_2234','X_2235','X_2236','X_2237','X_2238','X_2239','X_2240','X_2241','X_2242','X_2243','X_2244','X_2245','X_2246','X_2247','X_2248','X_2249','X_2250','X_2251','X_2252','X_2253','X_2254','X_2255','X_2256','X_2257','X_2258','X_2259','X_2260','X_2261','X_2262','X_2263','X_2264','X_2265','X_2266','X_2267','X_2268','X_2269','X_2270','X_2271','X_2272','X_2273','X_2274','X_2275','X_2276','X_2277','X_2278','X_2279','X_2280','X_2281','X_2282','X_2283','X_2284','X_2285','X_2286','X_2287','X_2288','X_2289','X_2290','X_2291','X_2292','X_2293','X_2294','X_2295','X_2296','X_2297','X_2298','X_2299','X_2300','X_2301','X_2302','X_2303','X_2304','X_2305','X_2306','X_2307','X_2308','X_2309','X_2310','X_2311','X_2312','X_2313','X_2314','X_2315','X_2316','X_2317','X_2318','X_2319','X_2320','X_2321','X_2322','X_2323','X_2324','X_2325','X_2326','X_2327','X_2328','X_2329','X_2330','X_2331','X_2332','X_2333','X_2334','X_2335','X_2336','X_2337','X_2338','X_2339','X_2340','X_2341','X_2342','X_2343','X_2344','X_2345','X_2346','X_2347','X_2348','X_2349','X_2350','X_2351','X_2352','X_2353','X_2354','X_2355','X_2356','X_2357','X_2358','X_2359','X_2360','X_2361','X_2362','X_2363','X_2364','X_2365','X_2366','X_2367','X_2368','X_2369','X_2370','X_2371','X_2372','X_2373','X_2374','X_2375','X_2376','X_2377','X_2378','X_2379','X_2380','X_2381','X_2382','X_2383','X_2384','X_2385','X_2386','X_2387','X_2388','X_2389','X_2390','X_2391','X_2392','X_2393','X_2394','X_2395','X_2396','X_2397','X_2398','X_2399','X_2400','X_2401','X_2402','X_2403','X_2404','X_2405','X_2406','X_2407','X_2540','X_2541','X_2542','X_2543','X_2544','X_2545','X_2546','X_2547','X_2548','X_2549','X_2550','X_2551','X_2552','X_2553','X_2554','X_2555','X_2556','X_2557','X_2558','X_2559','X_2560','X_2561','X_2562','X_2563','X_2564','X_2565','X_2566','X_2567','X_2568','X_2569','X_2570','X_2571','X_2572','X_2573','X_2574','X_2575','X_2576','X_2577','X_2578','X_2579','X_2580','X_2581','X_2582','X_2583','X_2584','X_2585','X_2586','X_2587','X_2588','X_2589','X_2590','X_2591','X_2592','X_2593','X_2594','X_2595','X_2596','X_2597','X_2598','X_2599','X_2600','X_2601','X_2602','X_2603','X_2604','X_2605','X_2606','X_2607','X_2608','X_2609','X_2610','X_2611','X_2612','X_2613','X_2614','X_2615','X_2616','X_2617','X_2618','X_2619','X_2620','X_2621','X_2622','X_2623','X_2624','X_2625','X_2626','X_2627','X_2866','X_2867','X_2868','X_2869','X_2870']

In [86]:
for col in cols:
    train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050307")] = train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050307")].fillna(
                                                                                        train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050307")].mean())
    
    a = train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050307")].count()
    print("{} ... {}".format(col, a))

C:\Users\LG\AppData\Local\Temp\ipykernel_4668\1326734854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050307")] = train_df[col].loc[(train_df.Y_Class == 2) & (train_df.CODE_LINE == "A050307")].fillna(

X_1408 ... 22
X_1540 ... 22
X_1951 ... 22
X_1952 ... 22
X_1953 ... 22
X_1954 ... 22
X_1955 ... 22
X_1956 ... 22
X_1957 ... 22
X_1958 ... 22
X_1959 ... 22
X_1960 ... 22
X_1961 ... 22
X_1962 ... 22
X_1963 ... 22
X_1964 ... 22
X_1965 ... 22
X_1966 ... 22
X_1967 ... 22
X_1968 ... 22
X_2041 ... 22
X_2042 ... 22
X_2043 ... 22
X_2063 ... 22
X_2064 ... 22
X_2065 ... 22
X_2066 ... 22
X_2067 ... 22
X_2068 ... 22
X_2070 ... 22
X_2071 ... 22
X_2072 ... 22
X_2073 ... 22
X_2074 ... 22
X_2075 ... 22
X_2076 ... 22
X_2078 ... 22
X_2079 ... 22
X_2080 ... 22
X_2081 ... 22
X_2082 ... 22
X_2083 ... 22
X_2084 ... 22
X_2086 ... 22
X_2087 ... 22
X_2088 ... 22
X_2089 ... 22
X_2090 ... 22
X_2091 ... 22
X_2100 ... 22
X_2101 ... 22
X_2102 ... 22
X_2103 ... 22
X_2104 ... 22
X_2105 ... 22
X_2106 ... 22
X_2107 ... 22
X_2108 ... 22
X_2109 ... 22
X_2110 ... 22
X_2111 ... 22
X_2112 ... 22
X_2113 ... 22
X_2114 ... 22
X_2115 ... 22
X_2116 ... 22
X_2117 ... 22
X_2118 ... 22
X_2119 ... 22
X_2120 ... 22
X_2121 ... 22
X_2122 ... 22
X_2123 ... 22
X_2124 ... 22
X_2125 ... 22
X_2126 ... 22
X_2127 ... 22
X_2128 ... 22
X_2129 ... 22
X_2130 ... 22
X_2131 ... 22
X_2132 ... 22
X_2133 ... 22
X_2134 ... 22
X_2135 ... 22
X_2136 ... 22
X_2137 ... 22
X_2138 ... 22
X_2139 ... 22
X_2140 ... 22
X_2141 ... 22
X_2142 ... 22
X_2143 ... 22
X_2144 ... 22
X_2145 ... 22
X_2146 ... 22
X_2147 ... 22
X_2148 ... 22
X_2149 ... 22
X_2150 ... 22
X_2151 ... 22
X_2152 ... 22
X_2153 ... 22
X_2154 ... 22
X_2155 ... 22
X_2156 ... 22
X_2157 ... 22
X_2158 ... 22
X_2159 ... 22
X_2160 ... 22
X_2161 ... 22
X_2162 ... 22
X_2163 ... 22
X_2164 ... 22
X_2165 ... 22
X_2166 ... 22
X_2167 ... 22
X_2168 ... 22
X_2169 ... 22
X_2170 ... 22
X_2171 ... 22
X_2172 ... 22
X_2173 ... 22
X_2174 ... 22
X_2175 ... 22
X_2176 ... 22
X_2177 ... 22
X_2178 ... 22
X_2179 ... 22
X_2180 ... 22
X_2181 ... 22
X_2182 ... 22
X_2183 ... 22
X_2184 ... 22
X_2185 ... 22
X_2186 ... 22
X_2187 ... 22
X_2188 ... 22
X_2189 ... 22
X_2190 ... 22
X_2191 ... 22
X_2192 ... 22
X_2193 ... 22
X_2194 ... 22
X_2195 ... 22
X_2196 ... 22
X_2197 ... 22
X_2198 ... 22
X_2199 ... 22
X_2200 ... 22
X_2201 ... 22
X_2202 ... 22
X_2203 ... 22
X_2204 ... 22
X_2205 ... 22
X_2206 ... 22
X_2207 ... 22
X_2208 ... 22
X_2209 ... 22
X_2210 ... 22
X_2211 ... 22
X_2212 ... 22
X_2213 ... 22
X_2214 ... 22
X_2215 ... 22
X_2216 ... 22
X_2217 ... 22
X_2218 ... 22
X_2219 ... 22
X_2220 ... 22
X_2221 ... 22
X_2222 ... 22
X_2223 ... 22
X_2224 ... 22
X_2225 ... 22
X_2226 ... 22
X_2227 ... 22
X_2228 ... 22
X_2229 ... 22
X_2230 ... 22
X_2231 ... 22
X_2232 ... 22
X_2233 ... 22
X_2234 ... 22
X_2235 ... 22
X_2236 ... 22
X_2237 ... 22
X_2238 ... 22
X_2239 ... 22
X_2240 ... 22
X_2241 ... 22
X_2242 ... 22
X_2243 ... 22
X_2244 ... 22
X_2245 ... 22
X_2246 ... 22
X_2247 ... 22
X_2248 ... 22
X_2249 ... 22
X_2250 ... 22
X_2251 ... 22
X_2252 ... 22
X_2253 ... 22
X_2254 ... 22
X_2255 ... 22
X_2256 ... 22
X_2257 ... 22
X_2258 ... 22
X_2259 ... 22
X_2260 ... 22
X_2261 ... 22
X_2262 ... 22
X_2263 ... 22
X_2264 ... 22
X_2265 ... 22
X_2266 ... 22
X_2267 ... 22
X_2268 ... 22
X_2269 ... 22
X_2270 ... 22
X_2271 ... 22
X_2272 ... 22
X_2273 ... 22
X_2274 ... 22
X_2275 ... 22
X_2276 ... 22
X_2277 ... 22
X_2278 ... 22
X_2279 ... 22
X_2280 ... 22
X_2281 ... 22
X_2282 ... 22
X_2283 ... 22
X_2284 ... 22
X_2285 ... 22
X_2286 ... 22
X_2287 ... 22
X_2288 ... 22
X_2289 ... 22
X_2290 ... 22
X_2291 ... 22
X_2292 ... 22
X_2293 ... 22
X_2294 ... 22
X_2295 ... 22
X_2296 ... 22
X_2297 ... 22
X_2298 ... 22
X_2299 ... 22
X_2300 ... 22
X_2301 ... 22
X_2302 ... 22
X_2303 ... 22
X_2304 ... 22
X_2305 ... 22
X_2306 ... 22
X_2307 ... 22
X_2308 ... 22
X_2309 ... 22
X_2310 ... 22
X_2311 ... 22
X_2312 ... 22
X_2313 ... 22
X_2314 ... 22
X_2315 ... 22
X_2316 ... 22
X_2317 ... 22
X_2318 ... 22
X_2319 ... 22
X_2320 ... 22
X_2321 ... 22
X_2322 ... 22
X_2323 ... 22
X_2324 ... 22
X_2325 ... 22
X_2326 ... 22
X_2327 ... 22
X_2328 ... 22
X_2329 ... 22
X_2330 ... 22
X_2331 ... 22
X_2332 ... 22
X_2333 ... 22
X_2334 ... 22
X_2335 ... 22
X_2336 ... 22
X_2337 ... 22
X_2338 ... 22
X_2339 ... 22
X_2340 ... 22
X_2341 ... 22
X_2342 ... 22
X_2343 ... 22
X_2344 ... 22
X_2345 ... 22
X_2346 ... 22
X_2347 ... 22
X_2348 ... 22
X_2349 ... 22
X_2350 ... 22
X_2351 ... 22
X_2352 ... 22
X_2353 ... 22
X_2354 ... 22
X_2355 ... 22
X_2356 ... 22
X_2357 ... 22
X_2358 ... 22
X_2359 ... 22
X_2360 ... 22
X_2361 ... 22
X_2362 ... 22
X_2363 ... 22
X_2364 ... 22
X_2365 ... 22
X_2366 ... 22
X_2367 ... 22
X_2368 ... 22
X_2369 ... 22
X_2370 ... 22
X_2371 ... 22
X_2372 ... 22
X_2373 ... 22
X_2374 ... 22
X_2375 ... 22
X_2376 ... 22
X_2377 ... 22
X_2378 ... 22
X_2379 ... 22
X_2380 ... 22
X_2381 ... 22
X_2382 ... 22
X_2383 ... 22
X_2384 ... 22
X_2385 ... 22
X_2386 ... 22
X_2387 ... 22
X_2388 ... 22
X_2389 ... 22
X_2390 ... 22
X_2391 ... 22
X_2392 ... 22
X_2393 ... 22
X_2394 ... 22
X_2395 ... 22
X_2396 ... 22
X_2397 ... 22
X_2398 ... 22
X_2399 ... 22
X_2400 ... 22
X_2401 ... 22
X_2402 ... 22
X_2403 ... 22
X_2404 ... 22
X_2405 ... 22
X_2406 ... 22
X_2407 ... 22
X_2540 ... 22
X_2541 ... 22
X_2542 ... 22
X_2543 ... 22
X_2544 ... 22
X_2545 ... 22
X_2546 ... 22
X_2547 ... 22
X_2548 ... 22
X_2549 ... 22
X_2550 ... 22
X_2551 ... 22
X_2552 ... 22
X_2553 ... 22
X_2554 ... 22
X_2555 ... 22
X_2556 ... 22
X_2557 ... 22
X_2558 ... 22
X_2559 ... 22
X_2560 ... 22
X_2561 ... 22
X_2562 ... 22
X_2563 ... 22
X_2564 ... 22
X_2565 ... 22
X_2566 ... 22
X_2567 ... 22
X_2568 ... 22
X_2569 ... 22
X_2570 ... 22
X_2571 ... 22
X_2572 ... 22
X_2573 ... 22
X_2574 ... 22
X_2575 ... 22
X_2576 ... 22
X_2577 ... 22
X_2578 ... 22
X_2579 ... 22
X_2580 ... 22
X_2581 ... 22
X_2582 ... 22
X_2583 ... 22
X_2584 ... 22
X_2585 ... 22
X_2586 ... 22
X_2587 ... 22
X_2588 ... 22
X_2589 ... 22
X_2590 ... 22
X_2591 ... 22
X_2592 ... 22
X_2593 ... 22
X_2594 ... 22
X_2595 ... 22
X_2596 ... 22
X_2597 ... 22
X_2598 ... 22
X_2599 ... 22
X_2600 ... 22
X_2601 ... 22
X_2602 ... 22
X_2603 ... 22
X_2604 ... 22
X_2605 ... 22
X_2606 ... 22
X_2607 ... 22
X_2608 ... 22
X_2609 ... 22
X_2610 ... 22
X_2611 ... 22
X_2612 ... 22
X_2613 ... 22
X_2614 ... 22
X_2615 ... 22
X_2616 ... 22
X_2617 ... 22
X_2618 ... 22
X_2619 ... 22
X_2620 ... 22
X_2621 ... 22
X_2622 ... 22
X_2623 ... 22
X_2624 ... 22
X_2625 ... 22
X_2626 ... 22
X_2627 ... 22
X_2866 ... 22
X_2867 ... 22
X_2868 ... 22
X_2869 ... 22
X_2870 ... 22

## **1, 2 : 겹치는 CODE_LINE**

- O100306

## O100306 : C_1
- 대체 없음

- 최대 카운트 1

- 카운트 0 : 2214개 열

In [87]:
C_1_O100306 = C_1.loc[C_1.CODE_LINE == "O100306"]
C_1_O100306 = C_1_O100306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_O100306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-08 14:46:00,0.533702,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
C_1_O100306_des = pd.DataFrame({
    "COUNT" : C_1_O100306.count(),
    "MEAN" : C_1_O100306.mean(),
    "STD" : C_1_O100306.std(),
    "MIN" : C_1_O100306.min(),
    "Q1" : C_1_O100306.quantile(0.25),
    "Q2" : C_1_O100306.quantile(0.5),
    "Q3" : C_1_O100306.quantile(0.75),
    "MAX" : C_1_O100306.max()
})

C_1_O100306_des.COUNT.value_counts()

0    2214
1     662
Name: COUNT, dtype: int64

- 최대 카운트 1

## O100306 : C_2
- 대체 없음

- 최대 카운트 2

- 카운트 0 : 2219개 열

In [89]:
C_2_O100306 = C_2.loc[C_2.CODE_LINE == "O100306"]
C_2_O100306 = C_2_O100306.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_2_O100306.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-03 18:40:00,0.534951,6.0,90.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-03 18:56:00,0.535205,6.0,89.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
C_2_O100306_des = pd.DataFrame({
    "COUNT" : C_2_O100306.count(),
    "MEAN" : C_2_O100306.mean(),
    "STD" : C_2_O100306.std(),
    "MIN" : C_2_O100306.min(),
    "Q1" : C_2_O100306.quantile(0.25),
    "Q2" : C_2_O100306.quantile(0.5),
    "Q3" : C_2_O100306.quantile(0.75),
    "MAX" : C_2_O100306.max()
})

C_2_O100306_des.COUNT.value_counts()

0    2219
2     657
Name: COUNT, dtype: int64

- 최대 카운트 2

## **1 : 안 겹치는 CODE_LINE**

- O100304

## O100304 : C_1
- 대체 없음

- 최대 카운트 3

- 카운트 0 : 2214개 열
- 카운트 1 : 5개 열

In [91]:
C_1_O100304 = C_1.loc[C_1.CODE_LINE == "O100304"]
C_1_O100304 = C_1_O100304.drop(columns=["Y_Class", "LINE", "PRODUCT_CODE", "CODE_LINE"])
C_1_O100304.head()

,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-03 18:32:00,0.530533,4.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-03 18:48:00,0.525916,4.0,100.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-08 14:38:00,0.531375,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
C_1_O100304_des = pd.DataFrame({
    "COUNT" : C_1_O100304.count(),
    "MEAN" : C_1_O100304.mean(),
    "STD" : C_1_O100304.std(),
    "MIN" : C_1_O100304.min(),
    "Q1" : C_1_O100304.quantile(0.25),
    "Q2" : C_1_O100304.quantile(0.5),
    "Q3" : C_1_O100304.quantile(0.75),
    "MAX" : C_1_O100304.max()
})

C_1_O100304_des.COUNT.value_counts()

0    2214
3     657
1       5
Name: COUNT, dtype: int64

- 최대 카운트 3개 중에서 2개 이상인 각 X 변수에 각 평균으로 대체

In [93]:
C_1_O100304_des.loc[(C_1_O100304_des.COUNT >= 2) & (C_1_O100304_des.COUNT < 3)]

Empty DataFrame
Columns: [COUNT, MEAN, STD, MIN, Q1, Q2, Q3, MAX]
Index: []

---

In [94]:
train_df

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,CODE_LINE,X_1,X_2,X_3,X_4,X_5,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,1,0.533433,T050304,A,A050304,NaN,NaN,NaN,NaN,NaN,...,39.34000,40.890000,32.560000,34.090000,77.77,1.0,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,2,0.541819,T050307,A,A050307,NaN,NaN,NaN,NaN,NaN,...,38.89000,42.820000,43.920000,35.340000,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,1,0.531267,T050304,A,A050304,NaN,NaN,NaN,NaN,NaN,...,39.19000,36.650000,42.470000,36.530000,78.35,1.0,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,2,0.537325,T050307,A,A050307,NaN,NaN,NaN,NaN,NaN,...,37.74000,39.170000,52.170000,30.580000,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,1,0.531590,T050304,A,A050304,NaN,NaN,NaN,NaN,NaN,...,38.70000,41.890000,46.930000,33.090000,76.97,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-08 14:30:00,1,0.526546,T100306,T,T100306,2.0,95.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-08 22:38:00,0,0.524022,T050304,A,A050304,NaN,NaN,NaN,NaN,NaN,...,49.47000,53.070000,50.890000,55.100000,66.49,1.0,NaN,NaN,NaN,NaN
2022-09-08 22:47:00,0,0.521289,T050304,A,A050304,NaN,NaN,NaN,NaN,NaN,...,53.06875,55.684167,49.493333,55.706667,65.04,1.0,NaN,NaN,NaN,NaN
2022-09-08 14:38:00,1,0.531375,T100304,O,O100304,40.0,94.0,0.0,45.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-08 14:46:00,1,0.533702,T100306,O,O100306,21.0,87.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
a = train_df.loc[train_df.Y_Class == 0]
b = train_df.loc[train_df.Y_Class == 1]
c = train_df.loc[train_df.Y_Class == 2]

C_0 = a
C_1 = b
C_2 = c

In [96]:
C_0.describe()

,Y_Class,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
count,88.0,88.000000,28.000000,28.000000,28.0,28.0,28.000000,28.0,28.000000,28.0,...,41.000000,41.000000,41.000000,41.000000,41.000000,41.0,0.0,0.0,0.0,0.0
mean,0.0,0.520837,1.928571,96.500000,0.0,45.0,10.464286,0.0,47.892857,10.0,...,53.058354,56.011707,50.569366,55.684488,64.759098,1.0,NaN,NaN,NaN,NaN
std,0.0,0.004603,0.377964,4.367388,0.0,0.0,0.507875,0.0,4.076484,0.0,...,2.554340,3.611145,5.995983,2.506381,1.474344,0.0,NaN,NaN,NaN,NaN
min,0.0,0.500856,1.000000,87.000000,0.0,45.0,10.000000,0.0,45.000000,10.0,...,47.190000,47.840000,36.810000,48.860000,62.480000,1.0,NaN,NaN,NaN,NaN
25%,0.0,0.519440,2.000000,93.000000,0.0,45.0,10.000000,0.0,45.000000,10.0,...,52.390000,53.070000,49.493333,55.330000,63.260000,1.0,NaN,NaN,NaN,NaN
50%,0.0,0.522054,2.000000,97.000000,0.0,45.0,10.000000,0.0,45.000000,10.0,...,53.068750,55.684167,51.430000,56.140000,64.950000,1.0,NaN,NaN,NaN,NaN
75%,0.0,0.524113,2.000000,100.250000,0.0,45.0,11.000000,0.0,50.000000,10.0,...,54.660000,59.150000,54.570000,57.050000,65.670000,1.0,NaN,NaN,NaN,NaN
max,0.0,0.525067,3.000000,102.000000,0.0,45.0,11.000000,0.0,58.000000,10.0,...,60.240000,63.100000,60.410000,59.930000,67.440000,1.0,NaN,NaN,NaN,NaN

In [97]:
C_1.describe()

,Y_Class,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
count,407.0,407.000000,289.000000,289.000000,289.0,289.0,289.000000,289.0,289.000000,289.000000,...,46.000000,46.000000,46.000000,46.000000,46.000000,46.0,0.0,0.0,0.0,0.0
mean,1.0,0.530253,2.480969,95.048443,0.0,45.0,10.401384,0.0,48.858131,10.048443,...,50.598987,52.900734,48.950878,50.380969,67.512214,1.0,NaN,NaN,NaN,NaN
std,0.0,0.002444,6.466298,4.100864,0.0,0.0,0.491029,0.0,4.433609,0.215073,...,7.399757,8.247791,6.955973,9.510589,5.652939,0.0,NaN,NaN,NaN,NaN
min,1.0,0.525086,1.000000,87.000000,0.0,45.0,10.000000,0.0,45.000000,10.000000,...,32.120000,31.700000,32.560000,30.720000,61.670000,1.0,NaN,NaN,NaN,NaN
25%,1.0,0.528378,2.000000,93.000000,0.0,45.0,10.000000,0.0,45.000000,10.000000,...,49.779706,52.194118,41.375000,48.746691,63.770000,1.0,NaN,NaN,NaN,NaN
50%,1.0,0.530308,2.000000,95.000000,0.0,45.0,10.000000,0.0,50.000000,10.000000,...,53.725000,55.702857,50.729286,55.718571,65.020000,1.0,NaN,NaN,NaN,NaN
75%,1.0,0.532129,2.000000,98.000000,0.0,45.0,11.000000,0.0,51.000000,10.000000,...,55.467500,57.675000,54.415000,57.062500,68.318235,1.0,NaN,NaN,NaN,NaN
max,1.0,0.534843,103.000000,102.000000,0.0,45.0,11.000000,0.0,62.000000,11.000000,...,58.440000,65.480000,59.680000,58.960000,79.750000,1.0,NaN,NaN,NaN,NaN

In [98]:
C_2.describe()

,Y_Class,Y_Quality,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
count,103.0,103.000000,32.000000,32.000000,32.0,32.0,32.000000,32.0,32.000000,32.000000,...,33.000000,33.000000,33.000000,33.000000,33.000000,23.0,0.0,0.0,0.0,0.0
mean,2.0,0.542031,2.187500,94.593750,0.0,45.0,10.250000,0.0,49.093750,10.093750,...,48.010741,51.333981,49.424167,48.266435,67.790046,1.0,NaN,NaN,NaN,NaN
std,0.0,0.008038,1.119836,3.808813,0.0,0.0,0.439941,0.0,4.098461,0.296145,...,7.839476,9.398505,6.701780,9.578016,3.400220,0.0,NaN,NaN,NaN,NaN
min,2.0,0.534951,1.000000,87.000000,0.0,45.0,10.000000,0.0,45.000000,10.000000,...,33.160000,33.260000,33.430000,30.490000,61.930000,1.0,NaN,NaN,NaN,NaN
25%,2.0,0.536354,2.000000,92.500000,0.0,45.0,10.000000,0.0,45.000000,10.000000,...,40.420000,47.978750,42.710000,40.340000,64.908889,1.0,NaN,NaN,NaN,NaN
50%,2.0,0.538508,2.000000,95.000000,0.0,45.0,10.000000,0.0,50.000000,10.000000,...,49.920000,54.660000,50.396250,52.820000,67.220000,1.0,NaN,NaN,NaN,NaN
75%,2.0,0.546555,2.000000,96.250000,0.0,45.0,10.250000,0.0,51.500000,10.000000,...,54.242222,58.044444,53.070000,56.590000,71.370000,1.0,NaN,NaN,NaN,NaN
max,2.0,0.578841,6.000000,102.000000,0.0,45.0,11.000000,0.0,57.000000,11.000000,...,59.380000,68.660000,60.000000,59.420000,72.770000,1.0,NaN,NaN,NaN,NaN